<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="acronymns">
		<div class="collapse" id="acronyms">
		<div class="scroller">
			<div class="card d-none d-sm-block">
				<div class="card-header border-0">
					<h3 class="card-title">List of abbreviations and acronyms</h3>
				</div>
				<div class="card-body table-responsive p-0">
					<table class="table table">
						<tbody>
							<tr>
								<td>ABO</td>
								<td>accrued benefit obligation</td>
							</tr>

							<tr>
								<td>ABS</td>
								<td>asset-backed security</td>
							</tr>
							<tr>
								<td>BPM6</td>
								<td>Balance of payments manual, sixth edition</td>
							</tr>
							<tr>
								<td>CCP</td>
								<td>central counterparty clearing house</td>
							</tr>
							<tr>
								<td>CDS</td>
								<td>credit default swap</td>
							</tr>
							<tr>
								<td>CIF</td>
								<td>cost, insurance and freight</td>
							</tr>
							<tr>
								<td>COFOG</td>
								<td>Classification of the Functions of Government</td>
							</tr>
							<tr>
								<td>COICOP</td>
								<td>Classification of Individual Consumption by Purpose</td>
							</tr>
							<tr>
								<td>COPNI</td>
								<td>Classification of the Purposes of Non-Profit
									Institutions Serving Households</td>
							</tr>
							<tr>
								<td>COPP</td>
								<td>Classification of Outlays of Producers by Purpose</td>
							</tr>
							<tr>
								<td>CPA</td>
								<td>Classification of Products by Activity</td>
							</tr>
							<tr>
								<td>EAA</td>
								<td>economic accounts for agriculture</td>
							</tr>
							<tr>
								<td>EAFRD</td>
								<td>European Agricultural Fund for Rural Development</td>
							</tr>
							<tr>
								<td>EAGF</td>
								<td>European Agricultural Guarantee Fund</td>
							</tr>
							<tr>
								<td>EC</td>
								<td>European Commission</td>
							</tr>
							<tr>
								<td>ECB</td>
								<td>European Central Bank</td>
							</tr>
							<tr>
								<td>EMU</td>
								<td>economic and monetary union</td>
							</tr>
							<tr>
								<td>ESA</td>
								<td>European System of Accounts</td>
							</tr>
							<tr>
								<td>ESO</td>
								<td>employee stock option</td>
							</tr>
							<tr>
								<td>ESSPROS</td>
								<td>European System of Integrated Social Protection
									Statistics</td>
							</tr>
							<tr>
								<td>EU</td>
								<td>European Union</td>
							</tr>
							<tr>
								<td>EURIBOR</td>
								<td>European interbank offered rate</td>
							</tr>
							<tr>
								<td>EUROSTAT</td>
								<td>the statistical office of the European Union</td>
							</tr>
							<tr>
								<td>FDI</td>
								<td>foreign direct investment</td>
							</tr>
							<tr>
								<td>FISIM</td>
								<td>financial intermediation services indirectly measured</td>
							</tr>
							<tr>
								<td>FOB</td>
								<td>free on board</td>
							</tr>
							<tr>
								<td>FRA</td>
								<td>forward rate agreement</td>
							</tr>
							<tr>
								<td>FVC</td>
								<td>financial vehicle corporation</td>
							</tr>
							<tr>
								<td>GAB</td>
								<td>general arrangements to borrow</td>
							</tr>
							<tr>
								<td>GDP</td>
								<td>gross domestic product</td>
							</tr>
							<tr>
								<td>GFS</td>
								<td>government finance statistics</td>
							</tr>
							<tr>
								<td>GNI</td>
								<td>gross national income</td>
							</tr>
							<tr>
								<td>GVA</td>
								<td>gross value added</td>
							</tr>
							<tr>
								<td>IAS</td>
								<td>international accounting standards</td>
							</tr>
							<tr>
								<td>IASB</td>
								<td>International Accounting Standards Board</td>
							</tr>
							<tr>
								<td>IASC</td>
								<td>International Accounting Standards Committee</td>
							</tr>
							<tr>
								<td>IC</td>
								<td>insurance corporations</td>
							</tr>
							<tr>
								<td>ICLS</td>
								<td>International Conference of Labour Statisticians</td>
							</tr>
							<tr>
								<td>ICPF</td>
								<td>insurance corporations and pension funds</td>
							</tr>
							<tr>
								<td>ICT</td>
								<td>information, communications and telecommunications</td>
							</tr>
							<tr>
								<td>IFRS</td>
								<td>International Financial Reporting Standards</td>
							</tr>
							<tr>
								<td>IIP</td>
								<td>international investment position</td>
							</tr>
							<tr>
								<td>ILO</td>
								<td>International Labour Organisation</td>
							</tr>
							<tr>
								<td>IMF</td>
								<td>International Monetary Fund</td>
							</tr>
							<tr>
								<td>IMTS</td>
								<td>international merchandise trade statistics</td>
							</tr>
							<tr>
								<td>INTRASTAT</td>
								<td>statistical collection system</td>
							</tr>
							<tr>
								<td>I-O</td>
								<td>input-output</td>
							</tr>
							<tr>
								<td>IPO</td>
								<td>initial public offering</td>
							</tr>
							<tr>
								<td>IPSASB</td>
								<td>International Public Sector Accounting Standards Board</td>
							</tr>
							<tr>
								<td>ISIC</td>
								<td>International Standard Industrial Classification of all
									Economic Activities</td>
							</tr>
							<tr>
								<td>ISIN</td>
								<td>international securities identification number</td>
							</tr>
							<tr>
								<td>KAU</td>
								<td>kind-of-activity unit</td>
							</tr>
							<tr>
								<td>KLEMS</td>
								<td>capital, labour, energy, materials and services</td>
							</tr>
							<tr>
								<td>LIBOR</td>
								<td>London interbank offered rate</td>
							</tr>
							<tr>
								<td>MFI</td>
								<td>monetary financial institution</td>
							</tr>
							<tr>
								<td>MMF</td>
								<td>money market fund</td>
							</tr>
							<tr>
								<td>MSITS</td>
								<td>Manual on statistics of international trade in services</td>
							</tr>
							<tr>
								<td>N.E.C.</td>
								<td>not elsewhere classified</td>
							</tr>
							<tr>
								<td>NAB</td>
								<td>new arrangements to borrow</td>
							</tr>
							<tr>
								<td>NACE</td>
								<td>general industrial classification of economic
									activities within the European Union</td>
							</tr>
							<tr>
								<td>NDP</td>
								<td>net domestic product</td>
							</tr>
							<tr>
								<td>NOS</td>
								<td>net operating surplus</td>
							</tr>
							<tr>
								<td>NPI</td>
								<td>non-profit institution</td>
							</tr>
							<tr>
								<td>NPISH</td>
								<td>non-profit institution serving households</td>
							</tr>
							<tr>
								<td>NUTS</td>
								<td>nomenclature of territorial units for statistics</td>
							</tr>
							<tr>
								<td>OECD</td>
								<td>Organisation for Economic Cooperation and Development</td>
							</tr>
							<tr>
								<td>OMFI</td>
								<td>other monetary financial institution</td>
							</tr>
							<tr>
								<td>OTC</td>
								<td>over the counter</td>
							</tr>
							<tr>
								<td>PAYE</td>
								<td>pay as you earn</td>
							</tr>
							<tr>
								<td>PBO</td>
								<td>projected benefit obligation</td>
							</tr>
							<tr>
								<td>PF</td>
								<td>pension funds</td>
							</tr>
							<tr>
								<td>PIM</td>
								<td>perpetual inventory method</td>
							</tr>
							<tr>
								<td>PPP</td>
								<td>purchasing power parity</td>
							</tr>
							<tr>
								<td>PPP</td>
								<td>public-private partnership</td>
							</tr>
							<tr>
								<td>PPS</td>
								<td>purchasing power standard</td>
							</tr>
							<tr>
								<td>PRGF</td>
								<td>Poverty Reduction and Growth Facility</td>
							</tr>
							<tr>
								<td>R &amp; D</td>
								<td>research and development</td>
							</tr>
							<tr>
								<td>ROW</td>
								<td>rest of the world</td>
							</tr>
							<tr>
								<td>SAM</td>
								<td>social accounting matrix</td>
							</tr>
							<tr>
								<td>SDR</td>
								<td>special drawing right</td>
							</tr>
							<tr>
								<td>SEEA</td>
								<td>System of Environmental-Economic Accounts</td>
							</tr>
							<tr>
								<td>SNA</td>
								<td>System of National Accounts</td>
							</tr>
							<tr>
								<td>SOCX</td>
								<td>Social Expenditure Database</td>
							</tr>
							<tr>
								<td>SPE</td>
								<td>special-purpose entity</td>
							</tr>
							<tr>
								<td>SPV</td>
								<td>special-purpose vehicle</td>
							</tr>
							<tr>
								<td>STRIPS</td>
								<td>Separate Trading of Registered Interest and Principal
									Securities</td>
							</tr>
							<tr>
								<td>UCITS</td>
								<td>undertakings for collective investment in transferable
									securities</td>
							</tr>
							<tr>
								<td>UN</td>
								<td>United Nations</td>
							</tr>
							<tr>
								<td>VAT</td>
								<td>value added tax</td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
