<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="acronymns">
		<aside class="acronynm">
			<div class="collapse" id="acronyms">
				<div class="card my-3 d-none d-sm-block">
					<div class="card-header border-0">
						<h3 class="card-title">List of abbreviations and acronyms</h3>
					</div>
					<div class="card-body table-responsive p-0">
						<table class="table table">
							<tr>
								<td class="tg-0lax">ABO</td>
								<td class="tg-0lax">accrued benefit obligation</td>
							</tr>
							<tbody>
								<tr>
									<td class="tg-0lax">ABS</td>
									<td class="tg-0lax">asset-backed security</td>
								</tr>
								<tr>
									<td class="tg-0lax">BPM6</td>
									<td class="tg-0lax">Balance of payments manual, sixth
										edition</td>
								</tr>
								<tr>
									<td class="tg-0lax">CCP</td>
									<td class="tg-0lax">central counterparty clearing house</td>
								</tr>
								<tr>
									<td class="tg-0lax">CDS</td>
									<td class="tg-0lax">credit default swap</td>
								</tr>
								<tr>
									<td class="tg-0lax">cif</td>
									<td class="tg-0lax">cost, insurance and freight</td>
								</tr>
								<tr>
									<td class="tg-0lax">COFOG</td>
									<td class="tg-0lax">Classification of the Functions of
										Government</td>
								</tr>
								<tr>
									<td class="tg-0lax">Coicop</td>
									<td class="tg-0lax">Classification of Individual
										Consumption by Purpose</td>
								</tr>
								<tr>
									<td class="tg-0lax">COPNI</td>
									<td class="tg-0lax">Classification of the Purposes of
										Non-Profit Institutions Serving Households</td>
								</tr>
								<tr>
									<td class="tg-0lax">COPP</td>
									<td class="tg-0lax">Classification of Outlays of Producers
										by Purpose</td>
								</tr>
								<tr>
									<td class="tg-0lax">CPA</td>
									<td class="tg-0lax">Classification of Products by Activity</td>
								</tr>
								<tr>
									<td class="tg-0lax">EAA</td>
									<td class="tg-0lax">economic accounts for agriculture</td>
								</tr>
								<tr>
									<td class="tg-0lax">EAFRD</td>
									<td class="tg-0lax">European Agricultural Fund for Rural
										Development</td>
								</tr>
								<tr>
									<td class="tg-0lax">EAGF</td>
									<td class="tg-0lax">European Agricultural Guarantee Fund</td>
								</tr>
								<tr>
									<td class="tg-0lax">EC</td>
									<td class="tg-0lax">European Commission</td>
								</tr>
								<tr>
									<td class="tg-0lax">ECB</td>
									<td class="tg-0lax">European Central Bank</td>
								</tr>
								<tr>
									<td class="tg-0lax">EMU</td>
									<td class="tg-0lax">economic and monetary union</td>
								</tr>
								<tr>
									<td class="tg-0lax">ESA</td>
									<td class="tg-0lax">European System of Accounts</td>
								</tr>
								<tr>
									<td class="tg-0lax">ESO</td>
									<td class="tg-0lax">employee stock option</td>
								</tr>
								<tr>
									<td class="tg-0lax">Esspros</td>
									<td class="tg-0lax">European System of Integrated Social
										Protection Statistics</td>
								</tr>
								<tr>
									<td class="tg-0lax">EU</td>
									<td class="tg-0lax">European Union</td>
								</tr>
								<tr>
									<td class="tg-0lax">Euribor</td>
									<td class="tg-0lax">European interbank offered rate</td>
								</tr>
								<tr>
									<td class="tg-0lax">Eurostat</td>
									<td class="tg-0lax">the statistical office of the European
										Union</td>
								</tr>
								<tr>
									<td class="tg-0lax">FDI</td>
									<td class="tg-0lax">foreign direct investment</td>
								</tr>
								<tr>
									<td class="tg-0lax">FISIM</td>
									<td class="tg-0lax">financial intermediation services
										indirectly measured</td>
								</tr>
								<tr>
									<td class="tg-0lax">fob</td>
									<td class="tg-0lax">free on board</td>
								</tr>
								<tr>
									<td class="tg-0lax">FRA</td>
									<td class="tg-0lax">forward rate agreement</td>
								</tr>
								<tr>
									<td class="tg-0lax">FVC</td>
									<td class="tg-0lax">financial vehicle corporation</td>
								</tr>
								<tr>
									<td class="tg-0lax">GAB</td>
									<td class="tg-0lax">general arrangements to borrow</td>
								</tr>
								<tr>
									<td class="tg-0lax">GDP</td>
									<td class="tg-0lax">gross domestic product</td>
								</tr>
								<tr>
									<td class="tg-0lax">GFS</td>
									<td class="tg-0lax">government finance statistics</td>
								</tr>
								<tr>
									<td class="tg-0lax">GNI</td>
									<td class="tg-0lax">gross national income</td>
								</tr>
								<tr>
									<td class="tg-0lax">GVA</td>
									<td class="tg-0lax">gross value added</td>
								</tr>
								<tr>
									<td class="tg-0lax">IAS</td>
									<td class="tg-0lax">international accounting standards</td>
								</tr>
								<tr>
									<td class="tg-0lax">IASB</td>
									<td class="tg-0lax">International Accounting Standards
										Board</td>
								</tr>
								<tr>
									<td class="tg-0lax">IASC</td>
									<td class="tg-0lax">International Accounting Standards
										Committee</td>
								</tr>
								<tr>
									<td class="tg-0lax">IC</td>
									<td class="tg-0lax">insurance corporations</td>
								</tr>
								<tr>
									<td class="tg-0lax">ICLS</td>
									<td class="tg-0lax">International Conference of Labour
										Statisticians</td>
								</tr>
								<tr>
									<td class="tg-0lax">ICPF</td>
									<td class="tg-0lax">insurance corporations and pension
										funds</td>
								</tr>
								<tr>
									<td class="tg-0lax">ICT</td>
									<td class="tg-0lax">information, communications and
										telecommunications</td>
								</tr>
								<tr>
									<td class="tg-0lax">IFRS</td>
									<td class="tg-0lax">International Financial Reporting
										Standards</td>
								</tr>
								<tr>
									<td class="tg-0lax">IIP</td>
									<td class="tg-0lax">international investment position</td>
								</tr>
								<tr>
									<td class="tg-0lax">ILO</td>
									<td class="tg-0lax">International Labour Organisation</td>
								</tr>
								<tr>
									<td class="tg-0lax">IMF</td>
									<td class="tg-0lax">International Monetary Fund</td>
								</tr>
								<tr>
									<td class="tg-0lax">IMTS</td>
									<td class="tg-0lax">international merchandise trade
										statistics</td>
								</tr>
								<tr>
									<td class="tg-0lax">Intrastat</td>
									<td class="tg-0lax">statistical collection system</td>
								</tr>
								<tr>
									<td class="tg-0lax">I-O</td>
									<td class="tg-0lax">input-output</td>
								</tr>
								<tr>
									<td class="tg-0lax">IPO</td>
									<td class="tg-0lax">initial public offering</td>
								</tr>
								<tr>
									<td class="tg-0lax">IPSASB</td>
									<td class="tg-0lax">International Public Sector Accounting
										Standards Board</td>
								</tr>
								<tr>
									<td class="tg-0lax">ISIC</td>
									<td class="tg-0lax">International Standard Industrial
										Classification of all Economic Activities</td>
								</tr>
								<tr>
									<td class="tg-0lax">ISIN</td>
									<td class="tg-0lax">international securities
										identification number</td>
								</tr>
								<tr>
									<td class="tg-0lax">KAU</td>
									<td class="tg-0lax">kind-of-activity unit</td>
								</tr>
								<tr>
									<td class="tg-0lax">KLEMS</td>
									<td class="tg-0lax">capital, labour, energy, materials and
										services</td>
								</tr>
								<tr>
									<td class="tg-0lax">LIBOR</td>
									<td class="tg-0lax">London interbank offered rate</td>
								</tr>
								<tr>
									<td class="tg-0lax">MFI</td>
									<td class="tg-0lax">monetary financial institution</td>
								</tr>
								<tr>
									<td class="tg-0lax">MMF</td>
									<td class="tg-0lax">money market fund</td>
								</tr>
								<tr>
									<td class="tg-0lax">MSITS</td>
									<td class="tg-0lax">Manual on statistics of international
										trade in services</td>
								</tr>
								<tr>
									<td class="tg-0lax">n.e.c.</td>
									<td class="tg-0lax">not elsewhere classified</td>
								</tr>
								<tr>
									<td class="tg-0lax">NAB</td>
									<td class="tg-0lax">new arrangements to borrow</td>
								</tr>
								<tr>
									<td class="tg-0lax">NACE</td>
									<td class="tg-0lax">general industrial classification of
										economic activities within the European Union</td>
								</tr>
								<tr>
									<td class="tg-0lax">NDP</td>
									<td class="tg-0lax">net domestic product</td>
								</tr>
								<tr>
									<td class="tg-0lax">NOS</td>
									<td class="tg-0lax">net operating surplus</td>
								</tr>
								<tr>
									<td class="tg-0lax">NPI</td>
									<td class="tg-0lax">non-profit institution</td>
								</tr>
								<tr>
									<td class="tg-0lax">NPISH</td>
									<td class="tg-0lax">non-profit institution serving
										households</td>
								</tr>
								<tr>
									<td class="tg-0lax">NUTS</td>
									<td class="tg-0lax">nomenclature of territorial units for
										statistics</td>
								</tr>
								<tr>
									<td class="tg-0lax">OECD</td>
									<td class="tg-0lax">Organisation for Economic Cooperation
										and Development</td>
								</tr>
								<tr>
									<td class="tg-0lax">oMFI</td>
									<td class="tg-0lax">other monetary financial institution</td>
								</tr>
								<tr>
									<td class="tg-0lax">OTC</td>
									<td class="tg-0lax">over the counter</td>
								</tr>
								<tr>
									<td class="tg-0lax">PAYE</td>
									<td class="tg-0lax">pay as you earn</td>
								</tr>
								<tr>
									<td class="tg-0lax">PBO</td>
									<td class="tg-0lax">projected benefit obligation</td>
								</tr>
								<tr>
									<td class="tg-0lax">PF</td>
									<td class="tg-0lax">pension funds</td>
								</tr>
								<tr>
									<td class="tg-0lax">PIM</td>
									<td class="tg-0lax">perpetual inventory method</td>
								</tr>
								<tr>
									<td class="tg-0lax">PPP</td>
									<td class="tg-0lax">purchasing power parity</td>
								</tr>
								<tr>
									<td class="tg-0lax">PPP</td>
									<td class="tg-0lax">public–private partnership</td>
								</tr>
								<tr>
									<td class="tg-0lax">PPS</td>
									<td class="tg-0lax">purchasing power standard</td>
								</tr>
								<tr>
									<td class="tg-0lax">PRGF</td>
									<td class="tg-0lax">Poverty Reduction and Growth Facility</td>
								</tr>
								<tr>
									<td class="tg-0lax">R &amp; D</td>
									<td class="tg-0lax">research and development</td>
								</tr>
								<tr>
									<td class="tg-0lax">ROW</td>
									<td class="tg-0lax">rest of the world</td>
								</tr>
								<tr>
									<td class="tg-0lax">SAM</td>
									<td class="tg-0lax">social accounting matrix</td>
								</tr>
								<tr>
									<td class="tg-0lax">SDR</td>
									<td class="tg-0lax">special drawing right</td>
								</tr>
								<tr>
									<td class="tg-0lax">SEEA</td>
									<td class="tg-0lax">System of Environmental-Economic
										Accounts</td>
								</tr>
								<tr>
									<td class="tg-0lax">SNA</td>
									<td class="tg-0lax">System of National Accounts</td>
								</tr>
								<tr>
									<td class="tg-0lax">SOCX</td>
									<td class="tg-0lax">Social Expenditure Database</td>
								</tr>
								<tr>
									<td class="tg-0lax">SPE</td>
									<td class="tg-0lax">special-purpose entity</td>
								</tr>
								<tr>
									<td class="tg-0lax">SPV</td>
									<td class="tg-0lax">special-purpose vehicle</td>
								</tr>
								<tr>
									<td class="tg-0lax">Strips</td>
									<td class="tg-0lax">Separate Trading of Registered
										Interest and Principal Securities</td>
								</tr>
								<tr>
									<td class="tg-0lax">UCITS</td>
									<td class="tg-0lax">undertakings for collective investment
										in transferable securities</td>
								</tr>
								<tr>
									<td class="tg-0lax">UN</td>
									<td class="tg-0lax">United Nations</td>
								</tr>
								<tr>
									<td class="tg-0lax">VAT</td>
									<td class="tg-0lax">value added tax</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
		</aside>

	</div>
</body>
</html>
