<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="annexe-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/26/#h873}" id="873" data-toggle="collapse"
               data-target="#ch26collapsePages" aria-expanded="false"
               aria-controls="ch26collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>Annex B Transmission programme of data
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch26collapsePages"
                 aria-labelledby="ch26headingOne" data-parent="#sub-zero">

                <nav class="nav accordion" id="ch26-sub-1">

                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h875}" id="875">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Overview of the tables
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h876}" id="876">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 1 &ndash; Main aggregates &ndash; quarterly and annual exercise
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h877}" id="877">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 2 &ndash; Main aggregates of general government
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h878}" id="878">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 3 &ndash; Tables by industry
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h879}" id="879">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 5 &ndash; Household final consumption expenditure
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h880}" id="880">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 6 &ndash; Financial accounts by sector
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h881}" id="881">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 7 &ndash; Balance Sheets for financial assets and liabilities (Stocks of financial instruments &ndash; consolidated and non-consolidated &ndash; and counterpart information*)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h882}" id="882">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 8 &ndash; Non-financial accounts by sector &ndash; annual
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h883}" id="883">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 801 &ndash; Non-financial accounts by sector &ndash; quarterly
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h884}" id="884">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 9 &ndash; Detailed tax and social contribution receipts by type of tax or social contribution and receiving subsector including the list of taxes and social contributions according to national classification*
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h885}" id="885">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 10 &ndash; Tables by industry and by region (NUTS level 2)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h886}" id="886">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 11 &ndash; General government expenditure by function
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h887}" id="887">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 12 &ndash; Tables by industry and by region (NUTS level 3)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h888}" id="888">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 13 &ndash; Households accounts by region (NUTS level 2)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h889}" id="889">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 15 &ndash; Supply table at basic prices, including transformation into purchasers' prices (current prices and previous year&rsquo;s prices)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h890}" id="890">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 16 &ndash; Use table at purchasers' prices* (current prices and previous year&rsquo;s prices)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h891}" id="891">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 17 &ndash; Symmetric input-output table at basic prices** (product by product*)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h892}" id="892">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 20 &ndash; Cross classification of fixed assets by industry and by asset (stocks)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h893}" id="893">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 22 &ndash; Cross classification of gross fixed capital formation (GFCF) by industry and by asset (transactions)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h894}" id="894">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 26 &ndash; Balance sheets for non-financial assets
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h895}" id="895">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 27 &ndash; Quarterly financial accounts of general government
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h896}" id="896">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 28 &ndash; Quarterly government debt (Maastricht debt) for general government
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch26-sub-2"
                         aria-labelledby="ch26headingTwo" data-parent="#ch26-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/26/#h897}" id="897">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 29: Accrued-to-date pension entitlements in social insurance
                            </a>
                        </nav>
                    </div>

                </nav>
            </div>
        </div>
    </body>
</html>
