<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter13-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/13/#h516}" id="516" data-toggle="collapse"
               data-target="#ch13collapsePages" aria-expanded="false"
               aria-controls="ch13collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>13. Regional accounts
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch13collapsePages"
                 aria-labelledby="ch13headingOne" data-parent="#sub-zero">

                <div class="collapse show" id="ch13-sub-2"
                     aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-1">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/chapter/view/13/#h518}" id="518">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-stroopwafel text-warning"></i>
                            </div> Introduction
                        </a>
                    </nav>
                </div>

                <div class="collapse show" id="ch13-sub-2"
                     aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-1">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/chapter/view/13/#h519}" id="519">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-stroopwafel text-warning"></i>
                            </div> Regional territory
                        </a>
                    </nav>
                </div>

                <nav class="nav accordion" id="ch13-sub-1">
                    <!--12.13 with sub elements-->
                    <div class="collapse show" id="ch13-sub-2"
                         aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/13/#h520}" id="520" data-toggle="collapse"
                               data-target="#ch13-sub-3-1" aria-expanded="true"
                               aria-controls="ch13-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Units and regional accounts
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>


                            <div class="collapse show" id="ch13-sub-3-1"
                                 aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/13/#h521}" id="521">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Institutional units
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch13-sub-3-1"
                                 aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/13/#h522}" id="522">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Local kind-of-activity units and regional production activities by industry
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch13-sub-2"
                         aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/13/#h523}" id="523">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Methods of regionalisation
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch13-sub-2"
                         aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/13/#h524}" id="524" data-toggle="collapse"
                               data-target="#ch13-sub-3-2" aria-expanded="true"
                               aria-controls="ch13-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Aggregates for production activities
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>


                            <div class="collapse show" id="ch13-sub-3-2"
                                 aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/13/#h525}" id="525">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Gross value added and gross domestic product by region
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch13-sub-3-2"
                                 aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/13/#h526}" id="526">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> The allocation of FISIM to user industries
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch13-sub-3-2"
                                 aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/13/#h527}" id="527">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Employment
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch13-sub-3-2"
                                 aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/13/#h528}" id="528">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Compensation of employees
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch13-sub-3-2"
                                 aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/13/#h529}" id="529">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Transition from regional GVA to regional GDP
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch13-sub-3-2"
                                 aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/13/#h530}" id="530">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Volume growth rates of regional GVA
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch13-sub-2"
                         aria-labelledby="ch13headingTwo" data-parent="#ch13-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/13/#h531}" id="531">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Regional household income accounts
                            </a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
