<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter16-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/16/#h559}" id="559" data-toggle="collapse"
               data-target="#ch16collapsePages" aria-expanded="false"
               aria-controls="ch16collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>16. Insurance
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch16collapsePages"
                 aria-labelledby="ch16headingOne" data-parent="#sub-zero">
               
                <nav class="nav accordion" id="ch16-sub-1">
                    <!--15.04 with sub elements-->
                    <div class="collapse show" id="ch16-sub-2"
                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/16/#h561}" id="561" data-toggle="collapse"
                               data-target="#ch16-sub-3-1" aria-expanded="true"
                               aria-controls="ch16-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Introduction
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch16-sub-3-1"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h562}" id="562">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Direct insurance
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch16-sub-3-1"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h563}" id="563">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Reinsurance
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch16-sub-3-1"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h564}" id="564">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> The units involved
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch16-sub-2"
                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/16/#h565}" id="565" data-toggle="collapse"
                               data-target="#ch16-sub-3-2" aria-expanded="true"
                               aria-controls="ch16-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Output of direct insurance
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch16-sub-3-2"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h566}" id="566">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Premiums earned
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch16-sub-3-2"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h567}" id="567">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Premium supplements
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch16-sub-3-2"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/16/#h568}" id="568" data-toggle="collapse"
                                       data-target="#ch16-sub-4-1" aria-expanded="true"
                                       aria-controls="ch16-sub-4-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Adjusted claims incurred and benefits due
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch16-sub-4-1"
                                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/16/#h569}" id="569">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Non-life insurance adjusted claims incurred
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch16-sub-4-1"
                                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/16/#h570}" id="570">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Life insurance benefits due
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch16-sub-3-2"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h571}" id="571">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Insurance technical reserves
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch16-sub-3-2"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/16/#h572}" id="572" data-toggle="collapse"
                                       data-target="#ch16-sub-4-2" aria-expanded="true"
                                       aria-controls="ch16-sub-4-2">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Defining insurance output
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch16-sub-4-2"
                                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/16/#h573}" id="573">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Non-life insurance
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch16-sub-4-2"
                                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/16/#h574}" id="574">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Life insurance
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch16-sub-4-2"
                                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/16/#h575}" id="575">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Reinsurance
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch16-sub-2"
                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/16/#h576}" id="576" data-toggle="collapse"
                               data-target="#ch16-sub-3-3" aria-expanded="true"
                               aria-controls="ch16-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Transactions associated with non-life insurance
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch16-sub-3-3"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h577}" id="577">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Allocation of insurance output among users
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch16-sub-3-3"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h578}" id="578">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Insurance services provided to and from the rest of the world
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch16-sub-3-3"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h579}" id="579">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> The accounting entries
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch16-sub-2"
                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/16/#h580}" id="580">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Transactions of life insurance
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch16-sub-2"
                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/16/#h581}" id="581">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Transactions associated with reinsurance
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch16-sub-2"
                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/16/#h582}" id="582">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Transactions associated with insurance auxiliaries
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch16-sub-2"
                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/16/#h583}" id="583">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Annuities
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch16-sub-2"
                         aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/16/#h584}" id="584" data-toggle="collapse"
                               data-target="#ch16-sub-3-4" aria-expanded="true"
                               aria-controls="ch16-sub-3-4">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Recording non-life insurance claims
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch16-sub-3-4"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h585}" id="585">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Treatment of adjusted claims
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch16-sub-3-4"
                                 aria-labelledby="ch16headingTwo" data-parent="#ch16-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/16/#h586}" id="586">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Treatment of catastrophic losses
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
