<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter17-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h587}" id="587" data-toggle="collapse"
               data-target="#ch17collapsePages" aria-expanded="false"
               aria-controls="ch17collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>17. Social insurance including pensions
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch17collapsePages"
                 aria-labelledby="ch17headingOne" data-parent="#sub-zero">

                <nav class="nav accordion" id="ch17-sub-1">
                    <!--15.04 with sub elements-->
                    <div class="collapse show" id="ch17-sub-2"
                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h589}" id="589" data-toggle="collapse"
                               data-target="#ch17-sub-3-1" aria-expanded="true"
                               aria-controls="ch17-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Introduction
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch17-sub-3-1"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/17/#h590}" id="590">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Social insurance schemes, social assistance and individual insurance policies
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch17-sub-3-1"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h591}" id="591" data-toggle="collapse"
                                       data-target="#ch17-sub-4-1" aria-expanded="true"
                                       aria-controls="ch17-sub-4-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Social benefits
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch17-sub-4-1"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h592}" id="592">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Social benefits provided by general government
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-1"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h593}" id="593">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Social benefits provided by other institutional units
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-1"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h594}" id="594">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Pensions and other forms of benefit
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <div class="collapse show" id="ch17-sub-2"
                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h595}" id="595" data-toggle="collapse"
                               data-target="#ch17-sub-3-2" aria-expanded="true"
                               aria-controls="ch17-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Social insurance benefits other than pensions
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch17-sub-3-2"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/17/#h596}" id="596">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Social security schemes other than pension schemes
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch17-sub-3-2"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/17/#h597}" id="597">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Other employment-related social insurance schemes
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch17-sub-3-2"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h598}" id="598" data-toggle="collapse"
                                       data-target="#ch17-sub-4-2" aria-expanded="true"
                                       aria-controls="ch17-sub-4-2">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Recording of stocks and flows by type of non-pension social insurance scheme
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch17-sub-4-2"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h599}" id="599">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Social security schemes
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-2"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#600}" id="600">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Other employment-related non-pension social insurance schemes
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch17-sub-2"
                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h601}" id="601" data-toggle="collapse"
                               data-target="#ch17-sub-3-3" aria-expanded="true"
                               aria-controls="ch17-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Pensions
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch17-sub-3-3"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h602}" id="602" data-toggle="collapse"
                                       data-target="#ch17-sub-4-3" aria-expanded="true"
                                       aria-controls="ch17-sub-4-3">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Types of pension schemes
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch17-sub-4-3"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h603}" id="603">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Social security pension schemes
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-3"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h604}" id="604">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Other employment-related pension schemes
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-3"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h605}" id="605">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Defined contribution schemes
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-3"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h606}" id="606">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Defined benefit schemes
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-3"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h607}" id="607">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Notional defined contribution schemes and hybrid schemes
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-3"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h608}" id="608">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Defined benefit schemes as compared to defined contribution schemes
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch17-sub-3-3"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/17/#h609}" id="609">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Pension administrator, pension manager, pension fund and multi-employer pension scheme
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch17-sub-3-3"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h610}" id="610" data-toggle="collapse"
                                       data-target="#ch17-sub-4-2" aria-expanded="true"
                                       aria-controls="ch17-sub-4-2">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Recording of stocks and flows by type of pension scheme in social insurance
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch17-sub-4-2"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h611}" id="611">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Transactions for social security pension schemes
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-2"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h612}" id="612">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Transactions for other employment-related pension schemes
                                            </a>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch17-sub-4-2"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h613}" id="613">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Transactions for defined contribution pension schemes
                                            </a>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch17-sub-4-2"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h614}" id="614">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Other flows related to defined contribution pension schemes
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-2"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h615}" id="615">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Transactions for defined benefit pension schemes
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <div class="collapse show" id="ch17-sub-2"
                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h616}" id="616" data-toggle="collapse"
                               data-target="#ch17-sub-3-4" aria-expanded="true"
                               aria-controls="ch17-sub-3-4">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Supplementary table for accrued-todate pension entitlements in social insurance
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch17-sub-3-4"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h617}" id="617" data-toggle="collapse"
                                       data-target="#ch17-sub-4-4" aria-expanded="true"
                                       aria-controls="ch17-sub-4-4">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Design of the supplementary table
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch17-sub-4-4"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h618}" id="618">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> The columns of the table
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-4"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h619}" id="619">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> The rows of the table
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-4"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h620}" id="620">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Opening and closing balance sheets
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-4"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h621}" id="621">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Changes in pension entitlements due to transactions
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-4"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h622}" id="622">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Changes to pension entitlements due to other economic flows
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-4"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h623}" id="623">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Related indicators
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            
                             <div class="collapse show" id="ch17-sub-3-4"
                                 aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/17/#h624}" id="624" data-toggle="collapse"
                                       data-target="#ch17-sub-4-5" aria-expanded="true"
                                       aria-controls="ch17-sub-4-5">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Actuarial assumptions
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch17-sub-4-5"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h625}" id="625">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Accrued-to-date entitlements
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-5"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h626}" id="626">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Discount rate
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-5"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h627}" id="627">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Wage growth
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch17-sub-4-5"
                                         aria-labelledby="ch17headingTwo" data-parent="#ch17-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/17/#h628}" id="628">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Demographic assumptions
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
