<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="chapter3-menu">

		<a class="nav-link collapsed" href="" data-toggle="collapse"
			data-target="#ch3collapsePages" aria-expanded="true"
			aria-controls="ch3collapsePages">
			<div class="sb-nav-link-icon">
				<i class="fas fa-book-open"></i>
			</div> Chapter 3
			<div class="sb-sidenav-collapse-arrow">
				<i class="fas fa-angle-down"></i>
			</div>
		</a>

		<div class="collapse" id="ch3collapsePages"
			aria-labelledby="ch3headingOne" data-parent="#sub-zero">
			<!-- chapter header title -->
			<nav class="sb-sidenav-menu-nested nav accordion" id="ch3-sub-1">
				<a class="nav-link collapsed" href=""
					data-toggle="collapse" data-target="#ch3-sub-2" aria-expanded="true"
					aria-controls="ch3-sub-2">

					<div class="sb-nav-link-icon">
						<i class="fas fa-stroopwafel text-info"></i>
					</div> Transactions in products and non-produced assets
					<div class="sb-sidenav-collapse-arrow">
						<i class="fas fa-angle-down"></i>
					</div>
				</a>
				<!--3.01 with sub elements-->
				<div class="collapse show" id="ch3-sub-2" aria-labelledby="ch3headingTwo"
					data-parent="#ch3-sub-1">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link" href="/chapter/view/3/#h111" id="111">
							<div class="sb-nav-link-icon">
								<i class="fas fa-stroopwafel text-warning"></i>
							</div> Transactions in products in general
						</a>
					</nav>
				</div>

				<!--3.07 with sub elements-->
				<div class="collapse show" id="ch3-sub-2" aria-labelledby="ch3headingTwo"
					data-parent="#ch3-sub-1">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link collapsed" href=""
							data-toggle="collapse" data-target="#ch3-sub-3"
							aria-expanded="true" aria-controls="ch3-sub-3">
							<div class="sb-nav-link-icon">
								<i class="fas fa-stroopwafel text-warning"></i>
							</div> Production and output
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>

						<div class="collapse show" id="ch3-sub-3"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link " href="/chapter/view/3/#h113" id="113">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Principal, secondary and ancillary activities
								</a>
							</nav>
						</div>

						<div class="collapse show" id="ch3-sub-3"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/chapter/view/3/#h114" id="114"><div
										class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div>Output (P.1)</a>
							</nav>
						</div>

						<div class="collapse show" id="ch3-sub-3"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/chapter/view/3/#h115" id="115"><div
										class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div>Institutional units: distinction between market, for own final
									use and non-market </a>
							</nav>
						</div>

						<div class="collapse show" id="ch3-sub-3"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link collapsed" href=""
									data-toggle="collapse" data-target="#ch3-sub-4-1"
									aria-expanded="false" aria-controls="ch3-sub-4-1">
									<div class="sb-nav-link-icon">
										<i class="fas fa-stroopwafel text-danger"></i>
									</div> Time of recording and valuation of output
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h117" id="117">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Products of agriculture, forestry and fishing (Section A)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h118" id="118">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Manufactured products (Section C); construction work
											(Section F)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h119" id="119">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Wholesale and retail trade services; repair services of
											motor vehicles and motorcycles (Section G)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h120" id="120">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Transportation and storage (Section H)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h121" id="121">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Accommodation and food services (Section I)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h122" id="122">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Financial and insurance services (Section K): output of the
											central bank
										</a>
									</nav>
								</div>
								<!-- has 5 more sub items -->
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h123" id="123">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Financial and insurance services (Section K): financial
											services in general
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h128" id="128">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Real estate services (Section L)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h129" id="129">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Professional, scientific and technical services (Section M);
											Administrative and support services (Section N)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h130" id="130">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Public administration and defence services, compulsory
											social security services (Section O)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h131" id="131">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Education services (Section P); human health and social work
											services (Section Q)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h132" id="132">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Arts, entertainment and recreation services (Section R);
											other services (Section S)
										</a>
									</nav>
								</div>
								<div class="collapse show" id="ch3-sub-4-1"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-3">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link" href="/chapter/view/3/#h133" id="133">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Private households as employers (Section T)
										</a>
									</nav>
								</div>
							</nav>
						</div>
					</nav>
				</div>

				<!--3.88 with sub elements-->
				<div class="collapse show" id="ch3-sub-2" aria-labelledby="ch3headingTwo"
					data-parent="#ch3-sub-1">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link collapsed" href=""
							data-toggle="collapse" data-target="#ch3-sub-3-1"
							aria-expanded="true" aria-controls="ch3-sub-3-1">
							<div class="sb-nav-link-icon">
								<i class="fas fa-stroopwafel text-warning"></i>
							</div> Intermediate consumption (P.2)
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>

						<div class="collapse show" id="ch3-sub-3-1"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link " href="/chapter/view/3/#h135" id="135">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Time of recording and valuation of intermediate consumption
								</a>
							</nav>
						</div>
					</nav>
				</div>
				<!--3.93 with sub elements-->
				<div class="collapse show" id="ch3-sub-2" aria-labelledby="ch3headingTwo"
					data-parent="#ch3-sub-1">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link collapsed" href=""
							data-toggle="collapse" data-target="#ch3-sub-3-2"
							aria-expanded="true" aria-controls="ch3-sub-3-2">
							<div class="sb-nav-link-icon">
								<i class="fas fa-stroopwafel text-warning"></i>
							</div> Final consumption (P.3, P.4)
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>

						<div class="collapse show" id="ch3-sub-3-2"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link " href="/chapter/view/3/#h137" id="137">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Final consumption expenditure (P.3)
								</a>
							</nav>
						</div>

						<div class="collapse show" id="ch3-sub-3-2"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/chapter/view/3/#h138" id="138"><div
										class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div>Actual final consumption (P.4)</a>
							</nav>
						</div>
						<div class="collapse show" id="ch3-sub-3-2"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/chapter/view/3/#h139" id="139">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Time of recording and valuation of final consumption
									expenditure
								</a>
							</nav>
						</div>
						<div class="collapse show" id="ch3-sub-3-2"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/chapter/view/3/#h140" id="140">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Time of recording and valuation of actual final consumption
								</a>
							</nav>
						</div>
					</nav>
				</div>
				<!--3.122 with sub elements-->
				<div class="collapse show" id="ch3-sub-2" aria-labelledby="ch3headingTwo"
					data-parent="#ch3-sub-1">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link collapsed" href=""
							data-toggle="collapse" data-target="#ch3-sub-3-3"
							aria-expanded="true" aria-controls="ch3-sub-3-3">
							<div class="sb-nav-link-icon">
								<i class="fas fa-stroopwafel text-warning"></i>
							</div> Gross capital formation (P.5)
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<!-- has sub item-->
						<div class="collapse show" id="ch3-sub-3-3"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link collapsed" href=""
									data-toggle="collapse" data-target="#ch3-sub-4-2"
									aria-expanded="true" aria-controls="ch3-sub-4-2">
									<div class="sb-nav-link-icon">
										<i class="fas fa-stroopwafel text-danger"></i>
									</div> Gross fixed capital formation (P.51g)
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>
								<div class="collapse show" id="ch3-sub-4-2"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link " href="/chapter/view/3/#h143" id="143">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Time of recording and valuation of gross fixed capital
											formation
										</a>
									</nav>
								</div>
							</nav>
						</div>
						<div class="collapse show" id="ch3-sub-3-3"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link " href="/chapter/view/3/#h144" id="144">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Consumption of fixed capital (P.51c)
								</a>
							</nav>
						</div>
					
						<div class="collapse show" id="ch3-sub-3-3"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link collapsed" href=""
									data-toggle="collapse" data-target="#ch3-sub-4-3"
									aria-expanded="true" aria-controls="ch3-sub-4-3">
									<div class="sb-nav-link-icon">
										<i class="fas fa-stroopwafel text-danger"></i>
									</div> Changes in inventories (P.52)
									<div class="sb-sidenav-collapse-arrow">
										<i class="fas fa-angle-down"></i>
									</div>
								</a>
								<div class="collapse show" id="ch3-sub-4-3"
									aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
									<nav class="sb-sidenav-menu-nested nav">
										<a class="nav-link " href="/chapter/view/3/#h146" id="146">
											<div class="sb-nav-link-icon">
												<i class="far fa-dot-circle nav-icon text-info"></i>
											</div> Time of recording and valuation of changes in inventories
										</a>
									</nav>
								</div>
							</nav>
						</div>
						<div class="collapse show" id="ch3-sub-3-3"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" href="/chapter/view/3/#h147" id="147">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Acquisitions less disposals of valuables (P.53)
								</a>
							</nav>
						</div>
					</nav>
				</div>

				<!--3.158 with sub elements-->
				<div class="collapse show" id="ch3-sub-2" aria-labelledby="ch3headingTwo"
					data-parent="#ch3-sub-1">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link collapsed" href=""
							data-toggle="collapse" data-target="#ch3-sub-3-4"
							aria-expanded="true" aria-controls="ch3-sub-3-4">
							<div class="sb-nav-link-icon">
								<i class="fas fa-stroopwafel text-warning"></i>
							</div> Exports and imports of goods and services (P.6 and P.7)
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>

						<div class="collapse show" id="ch3-sub-3-4"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link " href="/chapter/view/3/#h149" id="149">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Exports and imports of goods (P.61 and P.71)
								</a>
							</nav>
						</div>
						<div class="collapse show" id="ch3-sub-3-4"
							aria-labelledby="ch3headingThree" data-parent="#ch3-sub-2">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link " href="/chapter/view/3/#h150" id="150">
									<div class="sb-nav-link-icon">
										<i class="far fa-dot-circle nav-icon text-info"></i>
									</div> Exports and imports of services (P.62 and P.72)
								</a>
							</nav>
						</div>
					</nav>
				</div>

				<div class="collapse show" id="ch3-sub-2" aria-labelledby="ch3headingTwo"
					data-parent="#ch3-sub-1">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link" href="/chapter/view/3/#h151" id="151">
							<div class="sb-nav-link-icon">
								<i class="fas fa-stroopwafel text-warning"></i>
							</div> Transactions in existing goods
						</a>
					</nav>
				</div>

				<div class="collapse show" id="ch3-sub-2" aria-labelledby="ch3headingTwo"
					data-parent="#ch3-sub-1">
					<nav class="sb-sidenav-menu-nested nav">
						<a class="nav-link" href="/chapter/view/3/#h152" id="152">
							<div class="sb-nav-link-icon">
								<i class="fas fa-stroopwafel text-warning"></i>
							</div> Acquisitions less disposals of nonproduced assets (NP)
						</a>
					</nav>
				</div>

			</nav>
		</div>

	</div>

</body>
</html>
