<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter6-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/6/#h324}" id="324" data-toggle="collapse"
               data-target="#ch6collapsePages" aria-expanded="false"
               aria-controls="ch6collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>6. Other Flows
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch6collapsePages"
                 aria-labelledby="ch6headingOne" data-parent="#sub-zero">
                <nav class="nav accordion" id="ch6-sub-1">

                    <div class="collapse show" id="ch6-sub-2"
                         aria-labelledby="ch6headingTwo" data-parent="#ch6-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/6/#h326}" id="326">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Introduction
                            </a>
                        </nav>
                    </div>

                    <!--6.01 with sub elements-->
                    <div class="collapse show" id="ch6-sub-2"
                         aria-labelledby="ch6headingTwo" data-parent="#ch6-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/6/#h327}" id="327" data-toggle="collapse"
                               data-target="#ch6-sub-3-1" aria-expanded="true"
                               aria-controls="ch6-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Other changes in assets and liabilities
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch6-sub-3-1"
                                 aria-labelledby="headingThree" data-parent="#ch6-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/6/#h328}" id="328" data-toggle="collapse"
                                       data-target="#ch6-sub-4-1" aria-expanded="false"
                                       aria-controls="ch6-sub-4-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Other changes in the volume of assets and liabilities (K.1 to
                                        K.6)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch6-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h329}"
                                               id="329">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Economic appearance of assets (K.1)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h330}"
                                               id="330">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Economic disappearance of non-produced assets (K.2)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h331}"
                                               id="331">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Catastrophic losses (K.3)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h332}"
                                               id="332">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Uncompensated seizures (K.4)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h333}"
                                               id="333">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Other changes in volume not elsewhere classified (K.5)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed" th:href="@{/chapter/view/6/#h334}" id="334" data-toggle="collapse"
                                               data-target="#ch6-sub-5-1" aria-expanded="false"
                                               aria-controls="ch6-sub-5-1">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel text-success"></i>
                                                </div> Changes in classification (K.6)
                                                <div class="sb-sidenav-collapse-arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </div>
                                            </a>
                                            <div class="collapse show" id="ch6-sub-5-1"
                                                 aria-labelledby="headingThree" data-parent="#ch6-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/6/#h335}"
                                                       id="335">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Changes in sector classification and institutional unit
                                                        structure (K.61)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch6-sub-5-1"
                                                 aria-labelledby="headingThree" data-parent="#ch6-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/6/#h336}"
                                                       id="336">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Changes in classification of assets and liabilities (K.62)
                                                    </a>
                                                </nav>
                                            </div>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch6-sub-3-1"
                                 aria-labelledby="headingThree" data-parent="#ch6-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/6/#h337}" id="337" data-toggle="collapse"
                                       data-target="#ch6-sub-4-2" aria-expanded="false"
                                       aria-controls="ch6-sub-4-2">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Nominal holding gains and losses (K.7)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch6-sub-4-2"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h338}"
                                               id="338">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Neutral holding gains and losses (K.71)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-2"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h339}"
                                               id="339">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Real holding gains and losses (K.72)
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch6-sub-3-1"
                                 aria-labelledby="headingThree" data-parent="#ch6-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/6/#h340}" id="340" data-toggle="collapse"
                                       data-target="#ch6-sub-4-3" aria-expanded="false"
                                       aria-controls="ch6-sub-4-3">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Holding gains and losses by types of financial asset and
                                        liability
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h341}"
                                               id="341">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Monetary gold and SDRs (AF.1)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h342}"
                                               id="342">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Currency and deposits (AF.2)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h343}"
                                               id="343">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Debt securities (AF.3)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h344}"
                                               id="344">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Loans (AF.4)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h345}"
                                               id="345">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Equity and investment fund shares (AF.5)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h346}"
                                               id="346">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Insurance, pension and standardised guarantee schemes (AF.6)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h346}"
                                               id="346">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Insurance, pension and standardised guarantee schemes (AF.6)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h347}"
                                               id="347">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Financial derivatives and employee stock options (AF.7)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h348}"
                                               id="348">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Other accounts receivable/payable (AF.8)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch6-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch6-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/6/#h349}"
                                               id="349">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Assets denominated in foreign currency
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                        </nav>
                    </div>

                </nav>
            </div>
        </div>
    </body>
</html>
