<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter22-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/22/#h807}" id="807" data-toggle="collapse"
               data-target="#ch22collapsePages" aria-expanded="false"
               aria-controls="ch22collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>22. Satellite accounts
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch22collapsePages"
                 aria-labelledby="ch22headingOne" data-parent="#sub-zero">

                <nav class="nav accordion" id="ch22-sub-1">

                    <div class="collapse show" id="ch22-sub-2"
                         aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/22/#h809}" id="809" data-toggle="collapse"
                               data-target="#ch22-sub-3-1" aria-expanded="true"
                               aria-controls="ch22-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Introduction
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch22-sub-3-1"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h810}" id="810">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Functional classifications
                                    </a>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <div class="collapse show" id="ch22-sub-2"
                         aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/22/#h811}" id="811" data-toggle="collapse"
                               data-target="#ch22-sub-3-2" aria-expanded="true"
                               aria-controls="ch22-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Major characteristics of satellite accounts
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch22-sub-3-2"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h812}" id="812">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Functional satellite accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-2"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h813}" id="813">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Special sector accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-2"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h814}" id="814">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Inclusion of non-monetary data
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-2"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h815}" id="815">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Extra detail and supplementary concepts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-2"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h816}" id="816">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Different basic concepts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-2"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h817}" id="817">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Use of modelling and inclusion of experimental results
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-2"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h818}" id="818">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Designing and compiling satellite accounts
                                    </a>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <div class="collapse show" id="ch22-sub-2"
                         aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/22/#h819}" id="819" data-toggle="collapse"
                               data-target="#ch22-sub-3-3" aria-expanded="true"
                               aria-controls="ch22-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Nine specific satellite accounts
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h820}" id="820">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Agricultural accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h821}" id="821">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Environmental accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h822}" id="822">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Environmental accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h823}" id="823">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Household production accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h824}" id="824">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Labour accounts and SAM
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h825}" id="825">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Productivity and growth accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h826}" id="826">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Research and development accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h827}" id="827">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Social protection accounts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch22-sub-3-3"
                                 aria-labelledby="ch22headingTwo" data-parent="#ch22-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/22/#h828}" id="828">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Tourism satellite accounts
                                    </a>
                                </nav>
                            </div>
                            
                        </nav>
                    </div>

                </nav>
            </div>
        </div>
    </body>
</html>
