<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter18-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/18/#h629}" id="629" data-toggle="collapse"
               data-target="#ch18collapsePages" aria-expanded="false"
               aria-controls="ch18collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>18. Rest of the world accounts
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch18collapsePages"
                 aria-labelledby="ch18headingOne" data-parent="#sub-zero">
                <nav class="nav accordion" id="ch18-sub-1">

                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h631}" id="631">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Introduction
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/18/#h632}" id="632" data-toggle="collapse"
                               data-target="#ch18-sub-3-1" aria-expanded="true"
                               aria-controls="ch18-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Economic territory
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch18-sub-3-1"
                                 aria-labelledby="ch18headingTwo" data-parent="#h18-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/18/#h633}" id="633">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Residence
                                    </a>
                                </nav>
                            </div>

                        </nav>
                    </div>
                   
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h634}" id="634">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Institutional units
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h635}" id="635">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Branches as a term used in the international accounts of the balance of payments
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h636}" id="636">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Notional resident units
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h637}" id="637">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Multi-territory enterprises
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h638}" id="638">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Geographical breakdown
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h639}" id="639">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> The international accounts of the balance of payments
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h640}" id="640">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Balancing items in the current accounts of the international accounts
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/18/#h641}" id="641" data-toggle="collapse"
                               data-target="#ch18-sub-3-2" aria-expanded="true"
                               aria-controls="ch18-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> The accounts for the rest of the world sector and their relationship with the international accounts of the balance of payments
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch18-sub-3-2"
                                 aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/18/#h642}" id="642" data-toggle="collapse"
                                       data-target="#ch18-sub-4-1" aria-expanded="true"
                                       aria-controls="ch18-sub-4-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> The external account of goods and services
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch18-sub-4-1"
                                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/18/#h643}" id="643">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Valuation
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch18-sub-4-1"
                                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/18/#h644}" id="644">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Goods for processing
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch18-sub-4-1"
                                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed" th:href="@{/chapter/view/18/#h645}" id="645" data-toggle="collapse"
                                               data-target="#ch18-sub-5-1" aria-expanded="true"
                                               aria-controls="ch18-sub-5-1">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel text-success"></i>
                                                </div> Merchanting
                                                <div class="sb-sidenav-collapse-arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </div>
                                            </a>
                                            <div class="collapse show" id="ch18-sub-5-1"
                                                 aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/18/#h646}" id="646">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Goods under merchanting
                                                    </a>
                                                </nav>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch18-sub-4-1"
                                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/18/#h647}" id="647">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Imports and exports of FISIM
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch18-sub-3-2"
                                 aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/18/#h648}" id="648" data-toggle="collapse"
                                       data-target="#ch18-sub-4-2" aria-expanded="true"
                                       aria-controls="ch18-sub-4-2">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> The external account of primary and secondary income
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch18-sub-4-2"
                                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/18/#h649}" id="649">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> The primary income account
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch18-sub-4-2"
                                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/18/#h650}" id="650">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Direct investment income
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch18-sub-4-2"
                                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/18/#h651}" id="651">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> The secondary income (current transfers) account of the BPM6
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch18-sub-3-2"
                                 aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/18/#h652}" id="652">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> The external capital account
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch18-sub-3-2"
                                 aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/18/#h653}" id="653">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> The external financial account and international investment position (IIP)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch18-sub-2"
                         aria-labelledby="ch18headingTwo" data-parent="#ch18-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/18/#h654}" id="654">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Balance sheets for the rest of the world sector
                            </a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
