<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter24-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/24/#h864}" id="864" data-toggle="collapse"
               data-target="#ch24collapsePages" aria-expanded="false"
               aria-controls="ch24collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>24. The accounts
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch24collapsePages"
                 aria-labelledby="ch24headingOne" data-parent="#sub-zero">

                <nav class="nav accordion" id="ch24-sub-1">

                    <div class="collapse show" id="ch24-sub-2"
                         aria-labelledby="ch24headingTwo" data-parent="#ch24-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/24/#h866}" id="866">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 24.1 &mdash; Account 0: Goods and services account
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch24-sub-2"
                         aria-labelledby="ch24headingTwo" data-parent="#ch24-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/24/#h867}" id="867">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 24.2 &mdash; Full sequence of accounts for the total economy
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch24-sub-2"
                         aria-labelledby="ch24headingTwo" data-parent="#ch24-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/24/#h869}" id="869">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 24.3 &mdash; Full sequence of accounts for non-financial corporations
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch24-sub-2"
                         aria-labelledby="ch24headingTwo" data-parent="#ch24-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/24/#h870}" id="870">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 24.4 &mdash; Full sequence of accounts for financial corporations
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch24-sub-2"
                         aria-labelledby="ch24headingTwo" data-parent="#ch24-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/24/#h871}" id="871">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 24.5 &mdash; Full sequence of accounts for general government
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch24-sub-2"
                         aria-labelledby="ch24headingTwo" data-parent="#ch24-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/24/#h872}" id="872">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 24.6 &mdash; Full sequence of accounts for households
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch24-sub-2"
                         aria-labelledby="ch24headingTwo" data-parent="#ch24-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/24/#h873}" id="873">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Table 24.7 &mdash; Full sequence of accounts for non-profit institutions serving households
                            </a>
                        </nav>
                    </div>

                </nav>
            </div>
        </div>
    </body>
</html>
