<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter11-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/11/#h484}" id="484" data-toggle="collapse"
               data-target="#ch11collapsePages" aria-expanded="false"
               aria-controls="ch11collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>11. Population and labour inputs
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch11collapsePages"
                 aria-labelledby="ch11headingOne" data-parent="#sub-zero">

                <div class="collapse show" id="ch11-sub-2"
                     aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/chapter/view/11/#h486}" id="486">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-stroopwafel text-warning"></i>
                            </div> Total population
                        </a>
                    </nav>
                </div>
                <div class="collapse show" id="ch11-sub-2"
                     aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/chapter/view/11/#h487}" id="487">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-stroopwafel text-warning"></i>
                            </div> Economically active population
                        </a>
                    </nav>
                </div>
                <nav class="nav accordion" id="ch11-sub-1">
                    <!--11.01 with sub elements-->
                    <div class="collapse show" id="ch11-sub-2"
                         aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/11/#h488}" id="488" data-toggle="collapse"
                               data-target="#ch11-sub-3-1" aria-expanded="true"
                               aria-controls="ch11-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Employment
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch11-sub-3-1"
                                 aria-labelledby="headingThree" data-parent="#ch11-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/11/#h489}" id="489">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Employees
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch11-sub-3-1"
                                 aria-labelledby="headingThree" data-parent="#ch11-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/11/#h491}" id="491">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Employment and residence
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch11-sub-2"
                         aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/11/#h492}" id="492">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Unemployment
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch11-sub-2"
                         aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/11/#h493}" id="493" data-toggle="collapse"
                               data-target="#ch11-sub-3-2" aria-expanded="true"
                               aria-controls="ch11-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Jobs
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch11-sub-3-2"
                                 aria-labelledby="headingThree" data-parent="#ch11-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/11/#h494}" id="494">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Jobs and residence
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch11-sub-2"
                         aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/11/#h495}" id="495">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> The non-observed economy
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch11-sub-2"
                         aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/11/#h496}" id="496" data-toggle="collapse"
                               data-target="#ch11-sub-3-3" aria-expanded="true"
                               aria-controls="ch11-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Total hours worked
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch11-sub-3-3"
                                 aria-labelledby="headingThree" data-parent="#ch11-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/11/#h497}" id="497">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Specifying hours actually worked
                                    </a>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <div class="collapse show" id="ch11-sub-2"
                         aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/11/#h498}" id="498">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Full-time equivalence
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch11-sub-2"
                         aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/11/#h499}" id="499">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Employee labour input at constant compensation
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch11-sub-2"
                         aria-labelledby="ch11headingTwo" data-parent="#ch11-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/11/#h500}" id="500">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Productivity measures
                            </a>
                        </nav>
                    </div>

                </nav>
            </div>
        </div>
    </body>
</html>
