<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter15-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/15/#h546}" id="546" data-toggle="collapse"
               data-target="#ch15collapsePages" aria-expanded="false"
               aria-controls="ch15collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>15. Contracts, leases and licences
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch15collapsePages"
                 aria-labelledby="ch15headingOne" data-parent="#sub-zero">

                <div class="collapse show" id="ch15-sub-2"
                     aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-1">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/chapter/view/15/#h548}" id="548">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-stroopwafel text-warning"></i>
                            </div> Introduction
                        </a>
                    </nav>
                </div>

                <nav class="nav accordion" id="ch15-sub-1">
                    <!--15.04 with sub elements-->
                    <div class="collapse show" id="ch15-sub-2"
                         aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/15/#h549}" id="549" data-toggle="collapse"
                               data-target="#ch15-sub-3-1" aria-expanded="true"
                               aria-controls="ch15-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> The distinction between operating leases, resource leases and financial leases
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h550}" id="550">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Operating leases
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h551}" id="551">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Financial leases
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h552}" id="552">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Resource leases
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h553}" id="553">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Permits to use a natural resource
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h554}" id="554">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Permits to undertake specific activities
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h555}" id="555">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Public-private partnerships (PPPS)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h556}" id="556">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Service concession contracts
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h557}" id="557">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Marketable operating leases (AN.221)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch15-sub-3-1"
                                 aria-labelledby="ch15headingTwo" data-parent="#ch15-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/15/#h558}" id="558">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Entitlements to future goods and services on an exclusive basis (AN.224)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
