<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter10-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/10/#h464}" id="464" data-toggle="collapse"
               data-target="#ch10collapsePages" aria-expanded="false"
               aria-controls="ch10collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>10. Price and volume measures
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch10collapsePages"
                 aria-labelledby="ch10headingOne" data-parent="#sub-zero">
                <nav class="nav accordion" id="ch10-sub-1">
                    <!--10.01 with sub elements-->
                    <div class="collapse show" id="ch10-sub-2"
                         aria-labelledby="ch10headingTwo" data-parent="#ch10-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/10/#h466}" id="466" data-toggle="collapse"
                               data-target="#ch10-sub-3-1" aria-expanded="true"
                               aria-controls="ch10-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Scope of price and volume indices in the national accounts
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch10-sub-3-1"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h467}" id="467">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> The integrated system of price and volume indices
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-1"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h468}" id="468">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Other price and volume indices
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    
                    <div class="collapse show" id="ch10-sub-2"
                         aria-labelledby="ch10headingTwo" data-parent="#ch10-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/10/#h469}" id="469" data-toggle="collapse"
                               data-target="#ch10-sub-3-2" aria-expanded="true"
                               aria-controls="ch10-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> General principles of measuring price and volume indices
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch10-sub-3-2"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h470}" id="470">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Definition of prices and volumes of market products
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-2"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h471}" id="471">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Quality, price and homogeneous products
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-2"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h472}" id="472">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Prices and volume
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-2"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h473}" id="473">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> New products
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-2"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h474}" id="474">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Principles for non-market services
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-2"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h475}" id="475">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Principles for value added and GDP
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    
                    <div class="collapse show" id="ch10-sub-2"
                         aria-labelledby="ch10headingTwo" data-parent="#ch10-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/10/#h476}" id="476" data-toggle="collapse"
                               data-target="#ch10-sub-3-3" aria-expanded="true"
                               aria-controls="ch10-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Specific problems in the application of the principles
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch10-sub-3-3"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h477}" id="477">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Taxes and subsidies on products and imports
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-3"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h478}" id="478">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Other taxes and subsidies on production
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-3"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h479}" id="479">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Consumption of fixed capital
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-3"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h480}" id="480">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Compensation of employees
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch10-sub-3-3"
                                 aria-labelledby="headingThree" data-parent="#ch10-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/10/#h481}" id="481">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Stocks of produced fixed assets and inventories
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    
                    
                    <div class="collapse show" id="ch10-sub-2"
                         aria-labelledby="ch10headingTwo" data-parent="#ch10-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/10/#h482}" id="482">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Measures of real income for the total economy
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch10-sub-2"
                         aria-labelledby="ch10headingTwo" data-parent="#ch10-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/10/#h483}" id="483">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Interspatial price and volume indices
                            </a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
