<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter23-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/23/#h829}" id="829" data-toggle="collapse"
               data-target="#ch23collapsePages" aria-expanded="false"
               aria-controls="ch23collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>23. Classifications
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch23collapsePages"
                 aria-labelledby="ch23headingOne" data-parent="#sub-zero">

                <nav class="nav accordion" id="ch23-sub-1">

                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h831}" id="831">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Introduction
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h832}" id="832">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Classification of institutional sectors (S)
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/23/#h833}" id="833" data-toggle="collapse"
                               data-target="#ch23-sub-3-1" aria-expanded="true"
                               aria-controls="ch23-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Classification of transactions and other flows
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch23-sub-3-1"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h834}" id="834">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Transactions in products (P)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-1"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h835}" id="835">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Transactions in non-produced nonfinancial assets (NP codes)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-1"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h836}" id="836">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Distributive transactions (D)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-1"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h837}" id="837">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Current transfers in cash and kind (D.5-D.8)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-1"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h838}" id="838">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Transactions in financial assets and liabilities (F)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-1"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h839}" id="839">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Other changes in assets (K)
                                    </a>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h840}" id="840">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Classification of balancing items and net worth (B)
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h841}" id="841">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Classification of balance sheet entries (L)
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/23/#h842}" id="842" data-toggle="collapse"
                               data-target="#ch23-sub-3-2" aria-expanded="true"
                               aria-controls="ch23-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Classification of assets (A)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch23-sub-3-2"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h843}" id="843">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Non-financial assets (AN)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-2"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h844}" id="844">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Financial assets (AF)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/23/#h845}" id="845" data-toggle="collapse"
                               data-target="#ch23-sub-3-3" aria-expanded="true"
                               aria-controls="ch23-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Classification of supplementary items
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h846}" id="846">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Non-performing loans
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h847}" id="847">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Capital services
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h848}" id="848">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Pensions table
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h849}" id="849">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Consumer durables
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h850}" id="850">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Foreign direct investment
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h851}" id="851">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Contingent positions
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h852}" id="852">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Currency and deposits
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h853}" id="853">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Classification of debt securities according to outstanding maturity
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h854}" id="854">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Listed and unlisted debt securities
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h855}" id="855">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Long-term loans with outstanding maturity of less than one year and long-term loans secured by mortgage
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h856}" id="856">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Listed and unlisted investment shares
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h857}" id="857">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Arrears in interest and repayments
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch23-sub-3-3"
                                 aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/23/#h858}" id="858">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Personal and total remittances
                                    </a>
                                </nav>
                            </div>

                        </nav>
                    </div>
                    
                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h859}" id="859">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Regrouping and coding of industries (A) and products (P)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h860}" id="860">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Classification of the functions of the government (COFOG)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h861}" id="861">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Classification of individual consumption by purpose (Coicop)
                            </a>
                        </nav>
                    </div>
                    
                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h862}" id="862">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Classification of the purposes of nonprofit institutions serving households (COPNI)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch23-sub-2"
                         aria-labelledby="ch23headingTwo" data-parent="#ch23-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/23/#h863}" id="863">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Classification of outlays of producers by purpose (COPP)
                            </a>
                        </nav>
                    </div>

                </nav>
            </div>
        </div>
    </body>
</html>
