<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter21-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/21/#h791}" id="791" data-toggle="collapse"
               data-target="#ch21collapsePages" aria-expanded="false"
               aria-controls="ch21collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>21. Links between business accounts and national accounts and the measurement of corporate activity
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch21collapsePages"
                 aria-labelledby="ch21headingOne" data-parent="#sub-zero">

                <nav class="nav accordion" id="ch21-sub-1">
                    <div class="collapse show" id="ch21-sub-2"
                         aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/21/#h793}" id="793" data-toggle="collapse"
                               data-target="#ch21-sub-3-1" aria-expanded="true"
                               aria-controls="ch21-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Some specific rules and methods of business accounting
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch21-sub-3-1"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h794}" id="794">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Time of recording
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch21-sub-3-1"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h795}" id="795">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Double entry and quadruple entry accounting
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch21-sub-3-1"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h796}" id="796">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Valuation
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch21-sub-3-1"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h797}" id="797">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Income statement and balance sheet
                                    </a>
                                </nav>
                            </div>


                        </nav>
                    </div>

                    <div class="collapse show" id="ch21-sub-2"
                         aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/21/#h798}" id="798">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> National accounts and business accounts: practical issues
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch21-sub-2"
                         aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/21/#h799}" id="799" data-toggle="collapse"
                               data-target="#ch21-sub-3-2" aria-expanded="true"
                               aria-controls="ch21-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> The transition from business accounts to national accounts: the example of non-financial enterprises
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch21-sub-3-2"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h800}" id="800">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Conceptual adjustments
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch21-sub-3-2"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h801}" id="801">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Adjustments to achieve consistency with the accounts of other sectors
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch21-sub-3-2"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h802}" id="802">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Examples of adjustments for exhaustiveness
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch21-sub-2"
                         aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/21/#h803}" id="803" data-toggle="collapse"
                               data-target="#ch21-sub-3-3" aria-expanded="true"
                               aria-controls="ch21-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Specific issues
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch21-sub-3-3"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h804}" id="804">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Holding gains/losses
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch21-sub-3-3"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h805}" id="805">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Globalisation
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch21-sub-3-3"
                                 aria-labelledby="ch21headingTwo" data-parent="#ch21-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/21/#h806}" id="806">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Mergers and acquisitions
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
