<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="chapter2-menu">

    <a class="nav-link collapsed" href="" data-toggle="collapse"
       data-target="#ch2collapsePages" aria-expanded="true"
       aria-controls="ch2collapsePages">
        <div class="sb-nav-link-icon">
            <i class="fas fa-book-open"></i>
        </div> Chapter 2
        <div class="sb-sidenav-collapse-arrow">
            <i class="fas fa-angle-down"></i>
        </div>
    </a>
    <div class="collapse" id="ch2collapsePages"
         aria-labelledby="ch2headingOne" data-parent="#sub-zero">
        <nav class="sb-sidenav-menu-nested nav accordion" id="ch2-sub-1">
            <!-- chapter header title -->
            <a class="nav-link collapsed" href=""
               data-toggle="collapse" data-target="#ch2-sub-2"
               aria-expanded="true" aria-controls="ch2-sub-2">

                <div class="sb-nav-link-icon">
                    <i class="fas fa-stroopwafel text-info"></i>
                </div> Units and groupings of units
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>

            <div class="collapse show" id="ch2-sub-2"
                 aria-labelledby="ch2headingTwo" data-parent="#ch2-sub-1">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/chapter/view/3/#h56" id="56">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-stroopwafel text-warning"></i>
                        </div> The limits of the national economy
                    </a>
                </nav>
            </div>

            <!--2.01 with sub elements-->
            <div class="collapse show" id="ch2-sub-2"
                 aria-labelledby="ch2headingTwo" data-parent="#ch2-sub-1">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link collapsed" href=""
                       data-toggle="collapse" data-target="#ch2-sub-3-1"
                       aria-expanded="true" aria-controls="ch2-sub-3-1">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-stroopwafel text-warning"></i>
                        </div> The institutional units
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>

                    <div class="collapse show" id="ch2-sub-3-1"
                         aria-labelledby="ch2headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link " href="/chapter/view/2/#h58" id="58">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> Head offices and holding companies
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-1"
                         aria-labelledby="ch2headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link " href="/chapter/view/2/#h59" id="59">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> Groups of corporations
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-1"
                         aria-labelledby="ch2headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link " href="/chapter/view/2/#h60" id="60">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> Special purpose entities
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-1"
                         aria-labelledby="ch2headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link " href="/chapter/view/2/#h61" id="61">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> Captive financial institutions
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-1"
                         aria-labelledby="ch2headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link " href="/chapter/view/2/#h62" id="62">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> Artificial subsidiaries
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-1"
                         aria-labelledby="ch2headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link " href="/chapter/view/2/#h63" id="63">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> Special purpose units of general government
                            </a>
                        </nav>
                    </div>
                </nav>
            </div>
            <!--2.31 with sub elements-->
            <div class="collapse show" id="ch2-sub-2"
                 aria-labelledby="ch2headingTwo" data-parent="#ch2-sub-1">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link collapsed" href=""
                       data-toggle="collapse" data-target="#ch2-sub-3-2"
                       aria-expanded="true" aria-controls="ch2-sub-3-2">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-stroopwafel text-warning"></i>
                        </div> The institutional sectors
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <!--2.45 with sub elements-->
                    <div class="collapse show" id="ch2-sub-3-2"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" href=""
                               data-toggle="collapse" data-target="#ch2-sub-4-1"
                               aria-expanded="false" aria-controls="ch2-sub-4-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-danger"></i>
                                </div> Non-financial corporations (S.11)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch2-sub-4-1"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h66" id="66">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Public non-financial corporations (S.11001)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-1"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h67" id="67">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> National private non-financial corporations (S.11002)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-1"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h68" id="68">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Foreign controlled non-financial corporations (S.11003)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-2"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" href=""
                               data-toggle="collapse" data-target="#ch2-sub-4-2"
                               aria-expanded="false" aria-controls="ch2-sub-4-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-danger"></i>
                                </div> Financial corporations (S.12)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <!--This has level 4 and 5 elements - pending 14 nav items-->
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h70" id="70">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Financial intermediaries
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h71" id="71">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Financial auxiliaries
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h72" id="72">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Financial corporations other than financial intermediaries
                                        and financial auxiliaries
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h73" id="73">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Institutional units included in the financial corporations
                                        sector
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h74" id="74">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Subsectors of financial corporations
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h75" id="75">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Combining subsectors of financial corporations
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h76" id="76">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Subdividing subsectors of financial corporations into
                                        public, national private and foreign controlled financial
                                        corporations
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h77" id="77">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Central bank (S.121)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h78" id="78">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Deposit-taking corporations except the central bank (S.122)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h79" id="79">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> MMF (S.123)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h80" id="80">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Non-MMF investment funds (S.124)
                                    </a>
                                </nav>
                            </div>
                            <!-- this menu has two sub items -->
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h81" id="81">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Other financial intermediaries, except insurance
                                        corporations and pension funds (S.125)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h84" id="84">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Financial auxiliaries (S.126)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h85" id="85">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Captive financial institutions and money lenders (S.127)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h86" id="86">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Insurance corporations (S.128)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-2"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h87" id="87">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Pension funds (S.129)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <!--2.111 with sub elements-->
                    <div class="collapse show" id="ch2-sub-3-2"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" href=""
                               data-toggle="collapse" data-target="#ch2-sub-4-3"
                               aria-expanded="false" aria-controls="ch2-sub-4-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-danger"></i>
                                </div> General government (S.13)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <!--This has level 4 and 5 elements - pending 2 nav items-->
                            <div class="collapse show" id="ch2-sub-4-3"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h89" id="89">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Central government (excluding social security funds)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-3"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h90" id="90">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> State government (excluding social security funds) (S.312)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-3"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h91" id="91">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Local government (excluding social security funds) (S.1313)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-3"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h92" id="92">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Social security funds (S.1314)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <!--2.118 with sub elements-->
                    <div class="collapse show" id="ch2-sub-3-2"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" href=""
                               data-toggle="collapse" data-target="#ch2-sub-4-4"
                               aria-expanded="false" aria-controls="ch2-sub-4-4">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-danger"></i>
                                </div> Households (S.14)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch2-sub-4-4"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h94" id="94">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Employers and own-account workers (S.141 and S.142)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-4"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h95" id="95">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Employees (S.143)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-4"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h96" id="96">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Recipients of property income (S.1441)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-4"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h97" id="97">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Recipients of pensions (S.1442)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch2-sub-4-4"
                                 aria-labelledby="headingThree" data-parent="#ch2-sub-3-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/chapter/view/2/#h98" id="98">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Recipients of other transfers (S.1443)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch2-sub-3-2"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/chapter/view/3/#h99" id="99">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-danger"></i>
                                </div> Non-profit institutions serving households (S.15)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-2"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/chapter/view/3/#h100" id="100">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-danger"></i>
                                </div> Rest of the world (S.2)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-2"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/chapter/view/3/#h101" id="101">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-danger"></i>
                                </div> Sector classification of producer units for main standard
                                legal forms of ownership
                            </a>
                        </nav>
                    </div>
                </nav>
            </div>
            
           

            <!--2.144 with sub elements-->
            <div class="collapse show" id="ch2-sub-2"
                 aria-labelledby="ch2headingTwo" data-parent="#ch2-sub-1">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link collapsed" href=""
                       data-toggle="collapse" data-target="#ch2-sub-3-3"
                       aria-expanded="false" aria-controls="ch2-sub-3-3">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-stroopwafel text-warning"></i>
                        </div> Local kind-of-activity units and industries
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="collapse show" id="ch2-sub-3-3"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/chapter/view/2/#h103" id="103">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> The local kind-of-activity unit
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-3"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/chapter/view/2/#h104" id="104">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> Industries
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-3"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/chapter/view/2/#h105" id="105">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> Classification of industries
                            </a>
                        </nav>
                    </div>

                </nav>
            </div>

            <!--2.152 with sub elements-->
            <div class="collapse show" id="ch2-sub-2"
                 aria-labelledby="ch2headingTwo" data-parent="#ch2-sub-1">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link collapsed" href=""
                       data-toggle="collapse" data-target="#ch2-sub-3-4"
                       aria-expanded="false" aria-controls="ch2-sub-3-4">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-stroopwafel text-warning"></i>
                        </div> Units of homogeneous production and homogeneous branches
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>
                    <div class="collapse show" id="ch2-sub-3-4"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/chapter/view/2/#h108\6" id="107">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> The unit of homogeneous production
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch2-sub-3-4"
                         aria-labelledby="headingThree" data-parent="#ch2-sub-2">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/chapter/view/2/#h108" id="108">
                                <div class="sb-nav-link-icon">
                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                </div> The homogeneous branch
                            </a>
                        </nav>
                    </div>

                </nav>
            </div>
        </nav>
    </div>
</div>	
</body>
</html>
