<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter19-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/19/#h655}" id="655" data-toggle="collapse"
               data-target="#ch19collapsePages" aria-expanded="false"
               aria-controls="ch19collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>19. European accounts
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch19collapsePages"
                 aria-labelledby="ch19headingOne" data-parent="#sub-zero">
                <nav class="nav accordion" id="ch19-sub-1">
                    <div class="collapse show" id="ch19-sub-2"
                         aria-labelledby="ch19headingTwo" data-parent="#ch19-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/19/#h657}" id="657">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Introduction
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch19-sub-2"
                         aria-labelledby="ch19headingTwo" data-parent="#ch19-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/19/#h658}" id="658" data-toggle="collapse"
                               data-target="#ch19-sub-3-1" aria-expanded="true"
                               aria-controls="ch19-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> From national to european accounts
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch19-sub-3-1"
                                 aria-labelledby="ch19headingThree" data-parent="#ch19-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " th:href="@{/chapter/view/19/#h659}" id="659">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Conversion of data in different currencies
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch19-sub-3-1"
                                 aria-labelledby="ch19headingThree" data-parent="#ch19-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " th:href="@{/chapter/view/19/#h660}" id="660">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> European institutions
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch19-sub-3-1"
                                 aria-labelledby="ch19headingThree" data-parent="#ch19-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " th:href="@{/chapter/view/19/#h661}" id="661">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> The rest of the world account
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch19-sub-3-1"
                                 aria-labelledby="ch19headingThree" data-parent="#ch19-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " th:href="@{/chapter/view/19/#h662}" id="662">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Balancing of transactions
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch19-sub-3-1"
                                 aria-labelledby="ch19headingThree" data-parent="#ch19-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " th:href="@{/chapter/view/19/#h663}" id="663">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Price and volume measures
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch19-sub-3-1"
                                 aria-labelledby="ch19headingThree" data-parent="#ch19-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " th:href="@{/chapter/view/19/#h664}" id="664">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Balance sheets
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch19-sub-3-1"
                                 aria-labelledby="ch19headingThree" data-parent="#ch19-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " th:href="@{/chapter/view/19/#h665}" id="665">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> 'From whom-to-whom' matrices
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <!--Annex 19.1-->
                    <div class="collapse show" id="ch19-sub-2"
                         aria-labelledby="ch19headingTwo" data-parent="#ch19-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/19/#h666}" id="666" data-toggle="collapse"
                               data-target="#ch19-sub-3-2" aria-expanded="true"
                               aria-controls="ch19-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Annex 19.1
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch19-sub-3-2"
                                 aria-labelledby="ch19headingTwo" data-parent="#ch19-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/19/#h667}" id="667" data-toggle="collapse"
                                       data-target="#ch19-sub-3-2-1" aria-expanded="true"
                                       aria-controls="ch19-sub-3-2-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> The accounts of european institutions
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch19-sub-3-2-1"
                                         aria-labelledby="ch19headingThree" data-parent="#ch19-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link " th:href="@{/chapter/view/19/#h668}" id="668">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Resources
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch19-sub-3-2-1"
                                         aria-labelledby="ch19headingThree" data-parent="#ch19-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link " th:href="@{/chapter/view/19/#h669}" id="669">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Uses
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch19-sub-3-2-1"
                                         aria-labelledby="ch19headingThree" data-parent="#ch19-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link " th:href="@{/chapter/view/19/#h670}" id="670">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Consolidation
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
