<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter14-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/14/#h532}" id="532" data-toggle="collapse"
               data-target="#ch14collapsePages" aria-expanded="false"
               aria-controls="ch14collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>14. Financial intermediation services indirectly measured (FISIM)&nbsp;
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch14collapsePages"
                 aria-labelledby="ch14headingOne" data-parent="#sub-zero">

                <div class="collapse show" id="ch14-sub-2"
                     aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-1">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/chapter/view/14/#h534}" id="534">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-stroopwafel text-warning"></i>
                            </div> The concept of FISIM and the impact of their user allocation on main aggregates
                        </a>
                    </nav>
                </div>

                <nav class="nav accordion" id="ch14-sub-1">
                    <!--14.06 with sub elements-->
                    <div class="collapse show" id="ch14-sub-2"
                         aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/14/#h535}" id="535" data-toggle="collapse"
                               data-target="#ch14-sub-3-1" aria-expanded="true"
                               aria-controls="ch14-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Calculation of FISIM output by sectors S.122 and S.125
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch14-sub-3-1"
                                 aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/14/#h536}" id="536">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Statistical data required
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch14-sub-3-1"
                                 aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/14/#h537}" id="537" data-toggle="collapse"
                                       data-target="#ch14-sub-4-1" aria-expanded="true"
                                       aria-controls="ch14-sub-4-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Reference rates
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch14-sub-4-1"
                                         aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/14/#h538}" id="538">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Internal reference rate
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch14-sub-4-1"
                                         aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/14/#h539}" id="539">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> External reference rates
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch14-sub-3-1"
                                 aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/14/#h540}" id="540">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Detailed breakdown of FISIM by institutional sector
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch14-sub-3-1"
                                 aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/14/#h541}" id="541">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Breakdown into intermediate and final consumption of FISIM allocated to households
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch14-sub-2"
                         aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/14/#h542}" id="542">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Calculation of imports of FISIM
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch14-sub-2"
                         aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/14/#h543}" id="543">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> FISIM in volume terms
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch14-sub-2"
                         aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/14/#h544}" id="544">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Calculation of FISIM by industry
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch14-sub-2"
                         aria-labelledby="ch14headingTwo" data-parent="#ch14-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/14/#h545}" id="545">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> The output of the central bank
                            </a>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
