<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter7-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h350}" id="350" data-toggle="collapse"
               data-target="#ch7collapsePages" aria-expanded="false"
               aria-controls="ch7collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>7. Balance sheets
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch7collapsePages"
                 aria-labelledby="ch7headingOne" data-parent="#sub-zero">
                <nav class="nav accordion" id="ch7-sub-1">
                    <!--7.13 with sub elements-->
                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h352}" id="352" data-toggle="collapse"
                               data-target="#ch7-sub-3-1" aria-expanded="true"
                               aria-controls="ch7-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Types of assets and liabilities
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch7-sub-3-1"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h353}" id="353">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Definition of an asset
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/7/#h354}" id="354">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Exclusions from the asset and liability boundary
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h355}" id="355" data-toggle="collapse"
                               data-target="#ch7-sub-3-2" aria-expanded="true"
                               aria-controls="ch7-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Categories of assets and liabilities
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch7-sub-3-2"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h356}" id="356">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Produced non-financial assets (AN.1)
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch7-sub-3-2"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h357}" id="357">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Non-produced non-financial assets (AN.2)
                                    </a>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch7-sub-3-2"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h358}" id="358">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Financial assets and liabilities (AF)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h359}" id="359" data-toggle="collapse"
                               data-target="#ch7-sub-3-3" aria-expanded="true"
                               aria-controls="ch7-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Valuation of entries in the balance sheets
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch7-sub-3-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h360}" id="360">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> General valuation principles
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h361}" id="361" data-toggle="collapse"
                               data-target="#ch7-sub-3-4" aria-expanded="true"
                               aria-controls="ch7-sub-3-4">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Non-financial assets (AN)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch7-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h362}" id="362" data-toggle="collapse"
                                       data-target="#ch7-sub-4-1" aria-expanded="true"
                                       aria-controls="ch7-sub-4-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Produced non-financial assets (AN.1)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch7-sub-4-1"
                                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h363}" id="363" data-toggle="collapse"
                                               data-target="#ch7-sub-5-1" aria-expanded="true"
                                               aria-controls="ch7-sub-5-1">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel text-success"></i>
                                                </div> Fixed assets (AN.11)
                                                <div class="sb-sidenav-collapse-arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </div>
                                            </a>

                                            <div class="collapse show" id="ch7-sub-5-1"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/7/#h364}" id="364">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Intellectual property products (AN.117)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch7-sub-5-1"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/7/#h365}" id="365">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Costs of ownership transfer on non-produced assets (AN.116)
                                                    </a>
                                                </nav>
                                            </div>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch7-sub-4-1"
                                         aria-labelledby="ch1headingThree" data-parent="#ch7-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/7/#h366}" id="366">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Inventories (AN.12)
                                            </a>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch7-sub-4-1"
                                         aria-labelledby="ch1headingThree" data-parent="#ch7-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/7/#h367}" id="367">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Valuables (AN.13)
                                            </a>
                                        </nav>
                                    </div>

                                </nav>
                            </div>

                            <div class="collapse show" id="ch7-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h368}" id="368" data-toggle="collapse"
                                       data-target="#ch7-sub-4-2" aria-expanded="true"
                                       aria-controls="ch7-sub-4-2">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Non-produced non-financial assets (AN.2)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch7-sub-4-2"
                                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h369}" id="369" data-toggle="collapse"
                                               data-target="#ch7-sub-5-2" aria-expanded="true"
                                               aria-controls="ch7-sub-5-2">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel text-success"></i>
                                                </div> Natural resources (AN.21)
                                                <div class="sb-sidenav-collapse-arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </div>
                                            </a>

                                            <div class="collapse show" id="ch7-sub-5-2"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-4-2">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/7/#h370}" id="370">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Land (AN.211)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch7-sub-5-2"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-4-2">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/7/#h371}" id="371">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Mineral and energy reserves (AN.212)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch7-sub-5-2"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-4-2">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/7/#h372}" id="372">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Other natural assets (AN.213, AN.214 and AN.215)
                                                    </a>
                                                </nav>
                                            </div>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch7-sub-4-2"
                                         aria-labelledby="ch1headingThree" data-parent="#ch7-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/7/#h373}" id="373">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Contracts, leases and licences (AN.22)
                                            </a>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch7-sub-4-2"
                                         aria-labelledby="ch1headingThree" data-parent="#ch7-sub-3-4">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/7/#h374}" id="374">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Purchases less sales of goodwill and marketing assets (AN.23)
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h375}" id="375" data-toggle="collapse"
                               data-target="#ch7-sub-4-3" aria-expanded="true"
                               aria-controls="ch7-sub-4-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Financial assets and liabilities (AF)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch7-sub-4-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h376}" id="376">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Monetary gold and SDRs (AF.1)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h377}" id="377">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Currency and deposits (AF.2)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h378}" id="378">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Debt securities (AF.3)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h379}" id="379">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Loans (AF.4)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h380}" id="380">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Equity and investment fund shares/units (AF.5)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h381}" id="381">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Insurance, pension and standardised guarantee schemes (AF.6)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h382}" id="382">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Financial derivatives and employee stock options (AF.7)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-3"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h383}" id="383">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Other accounts receivable/payable (AF.8)
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingThree" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/7/#h384}" id="384">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Financial balance sheets
                            </a>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h385}" id="385" data-toggle="collapse"
                               data-target="#ch7-sub-4-4" aria-expanded="true"
                               aria-controls="ch7-sub-4-4">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Memorandum items
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch7-sub-4-4"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h386}" id="386">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Consumer durables (AN.m)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-4"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h387}" id="387">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Foreign direct investment (AF.m1)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-4"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h388}" id="388">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Non-performing loans (AF.m2)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch7-sub-4-4"
                                 aria-labelledby="ch1headingThree" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h389}" id="389">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Recording of non-performing loans
                                    </a>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <!--Annex 7.1-->
                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h390}" id="390" data-toggle="collapse"
                               data-target="#ch7-sub-2-1" aria-expanded="true"
                               aria-controls="ch7-sub-2-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Annex 7.1
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch7-sub-2-1"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h391}" id="391">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Summary of each asset category
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                    <!--Annex 7.2-->
                    <div class="collapse show" id="ch7-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/7/#h392}" id="392" data-toggle="collapse"
                               data-target="#ch7-sub-2-2" aria-expanded="true"
                               aria-controls="ch7-sub-2-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Annex 7.2
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch7-sub-2-2"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch7-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/7/#h393}" id="393">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> A map of entries from opening balance sheet to closing balance
                                        sheet
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
