<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter12-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/12/#h501}" id="501" data-toggle="collapse"
               data-target="#ch12collapsePages" aria-expanded="false"
               aria-controls="ch12collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>12. Quarterly national accounts
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch12collapsePages"
                 aria-labelledby="ch12headingOne" data-parent="#sub-zero">

                <div class="collapse show" id="ch12-sub-2"
                     aria-labelledby="ch12headingTwo" data-parent="#ch12-sub-1">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" th:href="@{/chapter/view/12/#h503}" id="503">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-stroopwafel text-warning"></i>
                            </div> Introduction
                        </a>
                    </nav>
                </div>

                <nav class="nav accordion" id="ch12-sub-1">
                    <!--12.13 with sub elements-->
                    <div class="collapse show" id="ch12-sub-2"
                         aria-labelledby="ch12headingTwo" data-parent="#ch12-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/12/#h504}" id="504" data-toggle="collapse"
                               data-target="#ch12-sub-3-1" aria-expanded="true"
                               aria-controls="ch12-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Specific features of quarterly national accounts
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch12-sub-3-1"
                                 aria-labelledby="ch12headingTwo" data-parent="#ch12-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/12/#h505}" id="505" data-toggle="collapse"
                                       data-target="#ch12-sub-4-1" aria-expanded="true"
                                       aria-controls="ch12-sub-4-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-info"></i>
                                        </div> Time of recording
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch12-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch12-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/12/#h506}" id="506">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Work-in-progress
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch12-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch12-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/12/#h507}" id="507">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Activities concentrated in specific periods within a year
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch12-sub-4-1"
                                         aria-labelledby="headingThree" data-parent="#ch12-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/12/#h508}" id="508">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Low-frequency payments
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch12-sub-3-1"
                                 aria-labelledby="ch12headingTwo" data-parent="#ch12-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/12/#h509}" id="509">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Flash estimates
                                    </a>
                                </nav>
                            </div>
                            
                             <div class="collapse show" id="ch12-sub-3-1"
                                 aria-labelledby="ch12headingTwo" data-parent="#ch12-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/12/#h510}" id="510" data-toggle="collapse"
                                       data-target="#ch12-sub-4-2" aria-expanded="true"
                                       aria-controls="ch12-sub-4-2">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-info"></i>
                                        </div> Balancing and benchmarking of quarterly national accounts
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch12-sub-4-2"
                                         aria-labelledby="headingThree" data-parent="#ch12-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/12/#h511}" id="511">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Balancing
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch12-sub-4-2"
                                         aria-labelledby="headingThree" data-parent="#ch12-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/12/#h512}" id="512">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Consistency between quarterly and annual accounts &mdash; benchmarking
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch12-sub-3-1"
                                 aria-labelledby="ch12headingTwo" data-parent="#ch12-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/12/#h513}" id="513">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-info"></i>
                                        </div> Chain-linked measures of price and volume changes
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch12-sub-3-1"
                                 aria-labelledby="ch12headingTwo" data-parent="#ch12-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/12/#h514}" id="514" data-toggle="collapse"
                                       data-target="#ch12-sub-4-3" aria-expanded="true"
                                       aria-controls="ch12-sub-4-3">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-info"></i>
                                        </div> Seasonal and calendar adjustments
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch12-sub-4-3"
                                         aria-labelledby="headingThree" data-parent="#ch12-sub-3-1">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/12/#h515}" id="515">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Sequence of compilation of seasonally adjusted chain-linked volume measures
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
