<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter4-menu">

            <a class="nav-link collapsed" href="" data-toggle="collapse"
               data-target="#ch4collapsePages" aria-expanded="true"
               aria-controls="ch4collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div> Chapter 4
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>

            <div class="collapse" id="ch4collapsePages"
                 aria-labelledby="ch4headingOne" data-parent="#sub-zero">
                <!-- chapter header title -->
                <nav class="sb-sidenav-menu-nested nav accordion" id="ch4-sub-1">
                    <a class="nav-link collapsed" href=""
                       data-toggle="collapse" data-target="#ch4-sub-2" aria-expanded="true"
                       aria-controls="ch4-sub-2">

                        <div class="sb-nav-link-icon">
                            <i class="fas fa-stroopwafel text-info"></i>
                        </div> Distributive transactions
                        <div class="sb-sidenav-collapse-arrow">
                            <i class="fas fa-angle-down"></i>
                        </div>
                    </a>


                    <!--4.01 with sub elements-->
                    <div class="collapse show" id="ch4-sub-2" aria-labelledby="ch4headingTwo"
                         data-parent="#ch4-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" href=""
                               data-toggle="collapse" data-target="#ch4-sub-3"
                               aria-expanded="true" aria-controls="ch4-sub-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-info"></i>
                                </div> Compensation of employees (D.1)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch4-sub-3"
                                 aria-labelledby="ch4headingThree" data-parent="#ch4-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" href=""
                                       data-toggle="collapse" data-target="#ch4-sub-4"
                                       aria-expanded="false" aria-controls="ch4-sub-4">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-info"></i>
                                        </div> Wages and salaries (D.11)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch4-sub-4"
                                         aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/chapter/view/4/#h156" id="156">
                                                <div class="sb-nav-link-icon">
                                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                                </div> Wages and salaries in cash
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch4-sub-4"
                                         aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/chapter/view/4/#h157" id="157">
                                                <div class="sb-nav-link-icon">
                                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                                </div> Wages and salaries in kind
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                            <!--4.09 with sub elements-->
                            <div class="collapse show" id="ch4-sub-3" aria-labelledby="ch4headingTwo"
                                 data-parent="#ch4-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" href=""
                                       data-toggle="collapse" data-target="#ch4-sub-3-one"
                                       aria-expanded="true" aria-controls="ch4-sub-3-one">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-info"></i>
                                        </div> Employers' social contributions (D.12)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch4-sub-3-one"
                                         aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link " href="/chapter/view/4/#h160" id="160">
                                                <div class="sb-nav-link-icon">
                                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                                </div> Employers' actual social contributions (D.121)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch4-sub-3-one"
                                         aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link " href="/chapter/view/4/#h160" id="160">
                                                <div class="sb-nav-link-icon">
                                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                                </div> Employers' imputed social contributions (D.122)
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <!--4.14 with sub elements-->
                    <div class="collapse show" id="ch4-sub-2" aria-labelledby="ch4headingTwo"
                         data-parent="#ch4-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" href=""
                               data-toggle="collapse" data-target="#ch4-sub-3-two"
                               aria-expanded="true" aria-controls="ch4-sub-3-two">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-info"></i>
                                </div> Taxes on production and imports (D.2)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <!--4.16 with sub elements-->
                            <div class="collapse show" id="ch4-sub-3-two"
                                 aria-labelledby="ch4headingThree" data-parent="#ch4-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" href=""
                                       data-toggle="collapse" data-target="#ch4-sub-4"
                                       aria-expanded="false" aria-controls="ch4-sub-4">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-info"></i>
                                        </div> Taxes on products (D.21)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch4-sub-4"
                                         aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3-two">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/chapter/view/4/#h164" id="164">
                                                <div class="sb-nav-link-icon">
                                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                                </div> Value added type taxes (VAT) (D.211)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch4-sub-4"
                                         aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3-two">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/chapter/view/4/#h165" id="165">
                                                <div class="sb-nav-link-icon">
                                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                                </div> Taxes and duties on imports excluding VAT (D.212)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch4-sub-4"
                                         aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3-two">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="/chapter/view/4/#h166" id="166">
                                                <div class="sb-nav-link-icon">
                                                    <i class="far fa-dot-circle nav-icon text-info"></i>
                                                </div> Taxes on products, except VAT and import taxes (D.214)
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch4-sub-3-two"
                                 aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3-two">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " href="/chapter/view/4/#h167" id="167">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Other taxes on production (D.29)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch4-sub-3-two"
                                 aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3-two">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " href="/chapter/view/4/#h168" id="168">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Taxes on production and imports paid to the institutions of the European Union
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch4-sub-3-two"
                                 aria-labelledby="ch4headingThree" data-parent="#ch4-sub-3-two">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link " href="/chapter/view/4/#h168" id="168">
                                        <div class="sb-nav-link-icon">
                                            <i class="far fa-dot-circle nav-icon text-info"></i>
                                        </div> Taxes on production and imports: time of recording and amounts to be recorded
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
