<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
    </head>
    <body>
        <div th:fragment="chapter8-menu">

            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h394}" id="394" data-toggle="collapse"
               data-target="#ch8collapsePages" aria-expanded="false"
               aria-controls="ch8collapsePages">
                <div class="sb-nav-link-icon">
                    <i class="fas fa-book-open"></i>
                </div>8. The sequence of accounts
                <div class="sb-sidenav-collapse-arrow">
                    <i class="fas fa-angle-down"></i>
                </div>
            </a>
            <div class="collapse" id="ch8collapsePages"
                 aria-labelledby="ch8headingOne" data-parent="#sub-zero">
                <nav class="nav accordion" id="ch8-sub-1">
                    
                    <!--8.01 with sub elements-->
                    <div class="collapse show" id="ch8-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h396}" id="396" data-toggle="collapse"
                               data-target="#ch8-sub-3-1" aria-expanded="true"
                               aria-controls="ch8-sub-3-1">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Introduction
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch8-sub-3-1"
                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h397}" id="397">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> The sequence of accounts
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <div class="collapse show" id="ch8-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h398}" id="398" data-toggle="collapse"
                               data-target="#ch8-sub-3-2" aria-expanded="true"
                               aria-controls="ch8-sub-3-2">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Sequence of accounts
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch8-sub-3-2"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h399}" id="399" data-toggle="collapse"
                                       data-target="#ch8-sub-4-1" aria-expanded="true"
                                       aria-controls="ch8-sub-4-1">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Current accounts
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch8-sub-4-1"
                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/8/#h400}" id="400">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Production account (I)
                                            </a>
                                        </nav>
                                    </div>


                                    <div class="collapse show" id="ch8-sub-4-1"
                                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h401}" id="401" data-toggle="collapse"
                                               data-target="#ch8-sub-5-1" aria-expanded="true"
                                               aria-controls="ch8-sub-5-1">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel text-success"></i>
                                                </div> Distribution and use of income accounts (II)
                                                <div class="sb-sidenav-collapse-arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </div>
                                            </a>

                                            <div class="collapse show" id="ch8-sub-5-1"
                                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h402}" id="402" data-toggle="collapse"
                                                       data-target="#ch8-sub-6-1" aria-expanded="true"
                                                       aria-controls="ch8-sub-6-1">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel text-danger"></i>
                                                        </div> Primary distribution of income accounts (II.1)
                                                        <div class="sb-sidenav-collapse-arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </div>
                                                    </a>

                                                    <div class="collapse show" id="ch8-sub-6-1"
                                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-5-1">
                                                        <nav class="sb-sidenav-menu-nested nav">
                                                            <a class="nav-link" th:href="@{/chapter/view/8/#h403}" id="403">
                                                                <div class="sb-nav-link-icon">
                                                                    <i class="fas fa-stroopwafel nav-icon text-orange"></i>
                                                                </div> Generation of income account (II.1.1)
                                                            </a>
                                                        </nav>
                                                    </div>
                                                    <div class="collapse show" id="ch8-sub-6-1"
                                                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-5-1">
                                                        <nav class="sb-sidenav-menu-nested nav">
                                                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h404}" id="404" data-toggle="collapse"
                                                               data-target="#ch8-sub-7-1" aria-expanded="true"
                                                               aria-controls="ch8-sub-7-1">
                                                                <div class="sb-nav-link-icon">
                                                                    <i class="fas fa-stroopwafel text-orange"></i>
                                                                </div> Allocation of primary income account (II.1.2)
                                                                <div class="sb-sidenav-collapse-arrow">
                                                                    <i class="fas fa-angle-down"></i>
                                                                </div>
                                                            </a>
                                                            <div class="collapse show" id="ch8-sub-7-1"
                                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-6-1">
                                                                <nav class="sb-sidenav-menu-nested nav">
                                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h405}" id="405">
                                                                        <div class="sb-nav-link-icon">
                                                                            <i class="fas fa-stroopwafel nav-icon text-light"></i>
                                                                        </div> Entrepreneurial income account (II.1.2.1)
                                                                    </a>
                                                                </nav>
                                                            </div>
                                                            <div class="collapse show" id="ch8-sub-7-1"
                                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-6-1">
                                                                <nav class="sb-sidenav-menu-nested nav">
                                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h406}" id="406">
                                                                        <div class="sb-nav-link-icon">
                                                                            <i class="fas fa-stroopwafel nav-icon text-light"></i>
                                                                        </div> Allocation of other primary income account (II.1.2.2)
                                                                    </a>
                                                                </nav>
                                                            </div>
                                                        </nav>
                                                    </div>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch8-sub-5-1"
                                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h407}" id="407">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Secondary distribution of income account (II.2)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch8-sub-5-1"
                                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h408}" id="408">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Redistribution of income in kind account (II.3)
                                                    </a>
                                                </nav>
                                            </div>

                                            <div class="collapse show" id="ch8-sub-5-1"
                                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-4-1">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h409}" id="409" data-toggle="collapse"
                                                       data-target="#ch8-sub-6-2" aria-expanded="true"
                                                       aria-controls="ch8-sub-6-2">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel text-danger"></i>
                                                        </div> Use of income account (II.4)
                                                        <div class="sb-sidenav-collapse-arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </div>
                                                    </a>

                                                    <div class="collapse show" id="ch8-sub-6-2"
                                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-5-1">
                                                        <nav class="sb-sidenav-menu-nested nav">
                                                            <a class="nav-link" th:href="@{/chapter/view/8/#h411}" id="411">
                                                                <div class="sb-nav-link-icon">
                                                                    <i class="fas fa-stroopwafel nav-icon text-orange"></i>
                                                                </div> Use of disposable income account (II.4.1)
                                                            </a>
                                                        </nav>
                                                    </div>
                                                    <div class="collapse show" id="ch8-sub-6-2"
                                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-5-1">
                                                        <nav class="sb-sidenav-menu-nested nav">
                                                            <a class="nav-link" th:href="@{/chapter/view/8/#h411}" id="411">
                                                                <div class="sb-nav-link-icon">
                                                                    <i class="fas fa-stroopwafel nav-icon text-orange"></i>
                                                                </div> Use of adjusted disposable income account (II.4.2)
                                                            </a>
                                                        </nav>
                                                    </div>
                                                </nav>
                                            </div>

                                        </nav>
                                    </div>
                                </nav>
                            </div>

                            <div class="collapse show" id="ch8-sub-3-2"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h412}" id="412" data-toggle="collapse"
                                       data-target="#ch8-sub-4-2" aria-expanded="true"
                                       aria-controls="ch8-sub-4-2">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Accumulation accounts (III)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch8-sub-4-2"
                                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h413}" id="413" data-toggle="collapse"
                                               data-target="#ch8-sub-5-2" aria-expanded="true"
                                               aria-controls="ch8-sub-5-2">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel text-success"></i>
                                                </div> Capital account (III.1)
                                                <div class="sb-sidenav-collapse-arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </div>
                                            </a>
                                            <div class="collapse show" id="ch8-sub-5-2"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-4-2">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h414}" id="414">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Change in net worth due to saving and capital transfers account (III.1.1)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch8-sub-5-2"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-4-2">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h415}" id="415">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Acquisitions of non-financial assets account (III.1.2)
                                                    </a>
                                                </nav>
                                            </div>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch8-sub-4-2"
                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/8/#h416}" id="416">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Financial account (III.2)
                                            </a>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch8-sub-4-2"
                                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h417}" id="417" data-toggle="collapse"
                                               data-target="#ch8-sub-5-3" aria-expanded="true"
                                               aria-controls="ch8-sub-5-3">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel text-success"></i>
                                                </div> Other changes in assets account (III.3)
                                                <div class="sb-sidenav-collapse-arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </div>
                                            </a>
                                            <div class="collapse show" id="ch8-sub-5-3"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-4-2">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h418}" id="418">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Other changes in volume of assets account (III.3.1)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch8-sub-5-3"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-4-2">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h419}" id="419" data-toggle="collapse"
                                                       data-target="#ch8-sub-6-3" aria-expanded="true"
                                                       aria-controls="ch8-sub-6-3">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel text-danger"></i>
                                                        </div> Revaluation account (III.3.2)
                                                        <div class="sb-sidenav-collapse-arrow">
                                                            <i class="fas fa-angle-down"></i>
                                                        </div>
                                                    </a>
                                                    <div class="collapse show" id="ch8-sub-6-3"
                                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-5-3">
                                                        <nav class="sb-sidenav-menu-nested nav">
                                                            <a class="nav-link" th:href="@{/chapter/view/8/#h420}" id="420">
                                                                <div class="sb-nav-link-icon">
                                                                    <i class="fas fa-stroopwafel nav-icon text-orange"></i>
                                                                </div> Neutral holding gains and losses account (III.3.2.1)
                                                            </a>
                                                        </nav>
                                                    </div>
                                                    <div class="collapse show" id="ch8-sub-6-3"
                                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-5-3">
                                                        <nav class="sb-sidenav-menu-nested nav">
                                                            <a class="nav-link" th:href="@{/chapter/view/8/#h421}" id="421">
                                                                <div class="sb-nav-link-icon">
                                                                    <i class="fas fa-stroopwafel nav-icon text-orange"></i>
                                                                </div> Real holding gains and losses account (III.3.2.2)
                                                            </a>
                                                        </nav>
                                                    </div>
                                                </nav>
                                            </div>
                                        </nav>
                                    </div>


                                </nav>
                            </div>

                            <div class="collapse show" id="ch8-sub-3-2"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h422}" id="422" data-toggle="collapse"
                                       data-target="#ch8-sub-4-3" aria-expanded="true"
                                       aria-controls="ch8-sub-4-3">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Balance sheets (IV)
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>
                                    <div class="collapse show" id="ch8-sub-4-3"
                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/8/#h423}" id="423">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Opening balance sheet (IV.1)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch8-sub-4-3"
                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/8/#h424}" id="424">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Changes in balance sheet (IV.2)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch8-sub-4-3"
                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-2">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/8/#h425}" id="425">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Closing balance sheet (IV.3)
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                        </nav>
                    </div>

                    <div class="collapse show" id="ch8-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h426}" id="426" data-toggle="collapse"
                               data-target="#ch8-sub-3-3" aria-expanded="true"
                               aria-controls="ch8-sub-3-3">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Rest of the world accounts (V)
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>

                            <div class="collapse show" id="ch8-sub-3-3"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h427}" id="427" data-toggle="collapse"
                                       data-target="#ch8-sub-4-4" aria-expanded="true"
                                       aria-controls="ch8-sub-4-4">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel text-aqua"></i>
                                        </div> Current accounts
                                        <div class="sb-sidenav-collapse-arrow">
                                            <i class="fas fa-angle-down"></i>
                                        </div>
                                    </a>

                                    <div class="collapse show" id="ch8-sub-4-4"
                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/8/#h428}" id="428">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> External account of goods and services (V.I)
                                            </a>
                                        </nav>
                                    </div>
                                    <div class="collapse show" id="ch8-sub-4-4"
                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/8/#h429}" id="429">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> External account of primary incomes and current transfers (V.II)
                                            </a>
                                        </nav>
                                    </div>


                                    <div class="collapse show" id="ch8-sub-4-4"
                                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h430}" id="430" data-toggle="collapse"
                                               data-target="#ch8-sub-5-4" aria-expanded="true"
                                               aria-controls="ch8-sub-5-4">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel text-success"></i>
                                                </div> External accumulation accounts (V.III)
                                                <div class="sb-sidenav-collapse-arrow">
                                                    <i class="fas fa-angle-down"></i>
                                                </div>
                                            </a>

                                            <div class="collapse show" id="ch8-sub-4-4"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-3">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h431}" id="431">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Capital account (V.III.1)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch8-sub-4-4"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-3">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h432}" id="432">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Financial account (V.III.2)
                                                    </a>
                                                </nav>
                                            </div>
                                            <div class="collapse show" id="ch8-sub-4-4"
                                                 aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-3">
                                                <nav class="sb-sidenav-menu-nested nav">
                                                    <a class="nav-link" th:href="@{/chapter/view/8/#h433}" id="433">
                                                        <div class="sb-nav-link-icon">
                                                            <i class="fas fa-stroopwafel nav-icon text-danger"></i>
                                                        </div> Other changes in assets account (V.III.3)
                                                    </a>
                                                </nav>
                                            </div>
                                        </nav>
                                    </div>

                                    <div class="collapse show" id="ch8-sub-4-4"
                                         aria-labelledby="ch1headingThree" data-parent="#ch8-sub-3-3">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" th:href="@{/chapter/view/8/#h434}" id="434">
                                                <div class="sb-nav-link-icon">
                                                    <i class="fas fa-stroopwafel nav-icon text-success"></i>
                                                </div> Balance sheets (V.IV)
                                            </a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>

                        </nav>
                    </div>
                    
                    <div class="collapse show" id="ch8-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/8/#h435}" id="435">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Goods and services account (0)
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch8-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" th:href="@{/chapter/view/8/#h436}" id="436">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel nav-icon text-warning"></i>
                                </div> Integrated economic accounts
                            </a>
                        </nav>
                    </div>
                    <div class="collapse show" id="ch8-sub-2"
                         aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-1">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link collapsed" th:href="@{/chapter/view/8/#h437}" id="437" data-toggle="collapse"
                               data-target="#ch8-sub-3-4" aria-expanded="true"
                               aria-controls="ch8-sub-3-4">
                                <div class="sb-nav-link-icon">
                                    <i class="fas fa-stroopwafel text-warning"></i>
                                </div> Aggregates
                                <div class="sb-sidenav-collapse-arrow">
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </a>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h438}" id="438">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Gross domestic product at market prices (GDP)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h439}" id="439">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Operating surplus of the total economy
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h440}" id="440">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Mixed income of the total economy
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h441}" id="441">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Entrepreneurial income of the total economy
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h442}" id="442">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> National income (at market prices)
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h443}" id="443">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> National disposable income
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h444}" id="444">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Saving
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h445}" id="445">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Current external balance
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h446}" id="446">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Net lending (+) or borrowing (-) of the total economy
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h447}" id="447">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> Net worth of the total economy
                                    </a>
                                </nav>
                            </div>
                            <div class="collapse show" id="ch8-sub-3-4"
                                 aria-labelledby="ch1headingTwo" data-parent="#ch8-sub-2">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/chapter/view/8/#h447}" id="447">
                                        <div class="sb-nav-link-icon">
                                            <i class="fas fa-stroopwafel nav-icon text-aqua"></i>
                                        </div> General government expenditure and revenue
                                    </a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </nav>
            </div>
        </div>
    </body>
</html>
