<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="contact">
		<div class="d-none d-lg-inline-block my-1 sticky-top" style="top:120px">
			<!-- Button trigger modal -->
			<ul class="list-unstyled">
				<li>
					<button type="button" class="btn btn-light" data-toggle="modal"
						data-target="#contact-modal">
						<i class="fas fa-info-circle fa-2x text-primary"></i>
					</button>
				</li>
				<!-- social icons -->
				<li><button type="button" class="btn btn-light sharer" id="share-wa"><i class="fab fa-whatsapp fa-2x text-primary"></i></button></li>
				<li><button type="button" class="btn btn-light sharer" id="share-fb"><i class="fab fa-facebook-square fa-2x text-primary"></i></button></li>
				<li><button type="button" class="btn btn-light sharer" id="share-tw"><i class="fab fa-twitter-square fa-2x text-primary"></i> </button></li>
				<li><button type="button" class="btn btn-light sharer" id="share-li"><i class="fab fa-linkedin fa-2x text-primary"></i></button></li>
				<li><button type="button" class="btn btn-light sharer" id="share-em"><i class="fas fa-envelope-square fa-2x text-primary"></i></button></li>
			</ul>
		</div>
		

		<!-- Modal contact us -->
		<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog"
			aria-labelledby="contact-label" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="contact-label">Contact Us</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation
							ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse cillum
							dolore eu fugiat nulla pariatur. Excepteur sint occaecat
							cupidatat non proident, sunt in culpa qui officia deserunt mollit
							anim id est laborum.</p>
						<p>Curabitur pretium tincidunt lacus. Nulla gravida orci a
							odio. Nullam varius, turpis et commodo pharetra, est eros
							bibendum elit, nec luctus magna felis sollicitudin mauris.
							Integer in mauris eu nibh euismod gravida. Duis ac tellus et
							risus vulputate vehicula. Donec lobortis risus a elit. Etiam
							tempor. Ut ullamcorper, ligula eu tempor congue, eros est euismod
							turpis, id tincidunt sapien risus a quam. Maecenas fermentum
							consequat mi. Donec fermentum. Pellentesque malesuada nulla a mi.
							Duis sapien sem, aliquet nec, commodo eget, consequat quis,
							neque. Aliquam faucibus, elit ut dictum aliquet, felis nisl
							adipiscing sapien, sed malesuada diam lacus eget erat. Cras
							mollis scelerisque nunc. Nullam arcu. Aliquam consequat.
							Curabitur augue lorem, dapibus quis, laoreet et, pretium ac,
							nisi. Aenean magna nisl, mollis quis, molestie eu, feugiat in,
							orci. In hac habitasse platea dictumst.</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
