<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="footer-js">
	
		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
		<script type="text/javascript" th:src="@{/js/client.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.table2excel.js}"></script>
		<script type="text/javascript" th:src="@{/js/table-export.js}"></script>
	
	</div>
    
</body>
</html>
