<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:fragment="header-css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<!-- this is header-css -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="/css/bootstrap.css" />

	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
		crossorigin="anonymous">

	<link rel="stylesheet" th:href="@{/css/site.css}" href="/css/site.css" />
	<!-- Google Font: Source Sans Pro -->
	<link
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
		rel="stylesheet">
</div>
</head>