<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="header-navbar">

		<nav class="sb-topnav navbar navbar-expand-lg navbar-white navbar-light bg-light">
			<div class="order-0 order-md-0">
				<button class="btn ml-1" id="sidebarToggle" href="#">
					<span class="navbar-toggler-icon p-4"></span>
				</button>
			</div>
			
			<div class="order-1 order-md-1">
				<a class="navbar-brand logo-text" th:href="@{/}"><span
					class="text-info">ESA</span><span
					class="text-primary font-weight-bolder">2010</span> 
				</a>
			</div>
			
			<div class="mx-auto order-2">
				<span class="navbar-text title-text text-secondary d-none d-lg-inline-block">
                	European System of Accounts 
        		</span>
			</div>
			
			<div class="mx-auto order-3">
				<form class="d-none d-lg-inline-block form-inline mr-auto mr-0 mr-md-3 my-2 my-md-0">
					<div class="input-group">
						<input class="form-control" type="text"
							placeholder="Search for..." aria-label="Search"
							aria-describedby="basic-addon2" />
							<div class="input-group-append">
								<button class="btn btn-primary" type="button">
									<i class="fas fa-search"></i>
								</button>
							</div>
					</div>
				</form>
			</div>
			
			<div class="order-4">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href=""> 
							<img src="/img/eurostat_logo_sm.png"
							th:attr="src=@{/img/eurostat_logo_sm.png}" alt="Eurostat"
							class="d-none d-lg-inline-block img-fluid pt-3" />
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>
