<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="left">

		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark elevation-4"
				id="sub-zero">
				<div class="sb-sidenav-menu">
					<div class="nav">
					
						<div class="sb-sidenav-menu-heading">CHAPTERS</div>
						
						<a class="nav-link" data-toggle="collapse" href="#acronyms" role="button" aria-expanded="false" aria-controls="acronyms">
		                    <div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div> List of abbreviations and acronyms
		                </a>
						
						<!-- chapter 1 Menu -->
						<div th:replace="fragments/chapter1-menu :: chapter1-menu" />
						
						<!-- chapter 2 Menu -->
						<div th:replace="fragments/chapter2-menu :: chapter2-menu" />
						
						<!-- chapter 3 Menu -->
						<div th:replace="fragments/chapter3-menu :: chapter3-menu" />
						
						<!-- chapter 4 Menu -->
						<div th:replace="fragments/chapter4-menu :: chapter4-menu" />
						
						<a class="nav-link" href="/chapter/view/5">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 5
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/6">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 6
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/7">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 7
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/8">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 8
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/9">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 9
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/10">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 10
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/11">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 11
		                </a>
		                
		                 <a class="nav-link" href="/chapter/view/12">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 12
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/12">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 12
		                </a>
		                
		                 <a class="nav-link" href="/chapter/view/13">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 13
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/14">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 14
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/15">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 15
		                </a>
		                
		                 <a class="nav-link" href="/chapter/view/16">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 16
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/17">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 17
		                </a>
		                
		                 <a class="nav-link" href="/chapter/view/18">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 18
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/19">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 19
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/20">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 20
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/21">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 21
		                </a>
		                
		                 <a class="nav-link" href="/chapter/view/22">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 22
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/23">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 23
		                </a>
		                
		                <a class="nav-link" href="/chapter/view/24">
		                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
		                    Chapter 24
		                </a>
		                
					</div>
				</div>
				<!--        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Username
        </div>-->
			</nav>
		</div>
	</div>

</body>
</html>