<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="left">

		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark elevation-4"
				id="sub-zero">
				<div class="sb-sidenav-menu">
					<div class="nav">
					
						<div class="sb-sidenav-menu-heading">CHAPTERS</div>
						
						<!-- chapter 1 Menu -->
						<div th:replace="fragments/chapter1-menu :: chapter1-menu" />
						
						<!-- chapter 2 Menu -->
						<div th:replace="fragments/chapter2-menu :: chapter2-menu" />
						
						<!-- chapter 3 Menu -->
						<div th:replace="fragments/chapter3-menu :: chapter3-menu" />
						
						<!-- chapter 4 Menu -->
						<div th:replace="fragments/chapter4-menu :: chapter4-menu" />
						
						<!-- chapter 5 Menu -->
						<div th:replace="fragments/chapter5-menu :: chapter5-menu" />
						
						<!-- chapter 6 Menu -->
						<div th:replace="fragments/chapter6-menu :: chapter6-menu" />
						
						<!-- chapter 7 Menu -->
						<div th:replace="fragments/chapter7-menu :: chapter7-menu" />
						
						<!-- chapter 8 Menu -->
						<div th:replace="fragments/chapter8-menu :: chapter8-menu" />
						
						<!-- chapter 9 Menu -->
						<div th:replace="fragments/chapter9-menu :: chapter9-menu" />
						
						<!-- chapter 10 Menu -->
						<div th:replace="fragments/chapter10-menu :: chapter10-menu" />
						
						<!-- chapter 11 Menu -->
						<div th:replace="fragments/chapter11-menu :: chapter11-menu" />
						
						<!-- chapter 12 Menu -->
						<div th:replace="fragments/chapter12-menu :: chapter12-menu" />
						
						<!-- chapter 13 Menu -->
						<div th:replace="fragments/chapter13-menu :: chapter13-menu" />
						
						<!-- chapter 14 Menu -->
						<div th:replace="fragments/chapter14-menu :: chapter14-menu" />
						
						<!-- chapter 15 Menu -->
						<div th:replace="fragments/chapter15-menu :: chapter15-menu" />
						
						<!-- chapter 16 Menu -->
						<div th:replace="fragments/chapter16-menu :: chapter16-menu" />
						
						<!-- chapter 17 Menu -->
						<div th:replace="fragments/chapter17-menu :: chapter17-menu" />
						
						<!-- chapter 18 Menu -->
						<div th:replace="fragments/chapter18-menu :: chapter18-menu" />
						
						<!-- chapter 19 Menu -->
						<div th:replace="fragments/chapter19-menu :: chapter19-menu" />
						
						<!-- chapter 20 Menu -->
						<div th:replace="fragments/chapter20-menu :: chapter20-menu" />
						
						<!-- chapter 21 Menu -->
						<div th:replace="fragments/chapter21-menu :: chapter21-menu" />
						
						<!-- chapter 22 Menu -->
						<div th:replace="fragments/chapter22-menu :: chapter22-menu" />
						
						<!-- chapter 23 Menu -->
						<div th:replace="fragments/chapter23-menu :: chapter23-menu" />
						
						<!-- chapter 24 Menu -->
						<div th:replace="fragments/chapter24-menu :: chapter24-menu" />
						
						<!-- annexe Menu -->
						<div th:replace="fragments/annexe-menu :: annexe-menu" />
		                
		                <a class="nav-link pb-5" data-toggle="collapse" href="#acronyms" role="button" aria-expanded="false" aria-controls="acronyms">
		                    <div class="sb-nav-link-icon">
								<i class="fas fa-columns"></i>
							</div> List of abbreviations and acronyms
		                </a>
		                
					</div>
				</div>
			</nav>
		</div>
	</div>

</body>
</html>