<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<title>New Footnote</title>

<!-- Header CSS -->
<div th:replace="fragments/header-css :: header-css"/>

</head>
<body class="sb-nav-fixed">

	<!-- this is header -->

	<div id="layoutSidenav">
		
		<!-- Navbar -->
		<div th:replace="fragments/header-navbar :: header-navbar"/>


		<div id="layoutSidenav_content">
			
			<!-- Left chapters navigation -->
		   	<div th:replace="fragments/left-adm :: left-adm"/>
			
			<main>
				
				<!-- New Chapter Form -->
				<div class="container float-left py-4">
					
					<h2>New Footnote</h2>
			
					<form action="#" th:action="@{/saveFootnote}" th:object="${footnote}"
							method="POST">
						
							<label for="text">Text:</label>
							<input type="text" th:field="*{text}" class="form-control mb-4 col-12">							
							<label for="paragraph">Paragraph:</label>
							<input type="text" th:field="*{paragraph}" class="form-control mb-4 col-12">
							<label for="description">Footnote:</label>
							<textarea rows="10" th:field="*{description}" class="form-control mb-4 col-12"></textarea>
							<label for="defjs">JS Snippet:</label>
							<textarea rows="10" th:field="*{linkjs}" class="form-control mb-4 col-12"></textarea>
								
							<button type="submit" class="btn btn-info col-2"> Save Footnote</button>
					</form>
					
					
				</div>
				
			</main>



			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"/>
		</div>


	</div>
	<!-- Footer JS -->
	<div th:replace="fragments/footer-js :: footer-js"/>
</body>
</html>
