<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<title>ESA2010 Chapters</title>

<!-- Header CSS -->
<div th:replace="fragments/header-css :: header-css"/>

</head>
<body class="sb-nav-fixed">

	<!-- this is header -->

	<div id="layoutSidenav">
		
		<!-- Navbar -->
		<div th:replace="fragments/header-navbar :: header-navbar"/>


		<div id="layoutSidenav_content">
			
			<!-- Left chapters navigation -->
		   	<div th:replace="fragments/left-adm :: left-adm"/>
			
			<main>
				
				<!-- New Chapter Form -->
				<div class="container float-left py-4">
					
					<h2>New Chapter</h2>
			
					<form action="#" th:action="@{/saveChapter}" th:object="${chapter}"
						method="POST">
						<input type="text" th:field="*{title}"
							placeholder="Title" class="form-control mb-4 col-12">
							
							<textarea rows="20" th:field="*{htmltext}" placeholder="Text" class="form-control mb-4 col-12"></textarea>
						
							
							<button type="submit" class="btn btn-info col-2"> Save Chapter</button>
					</form>
					
				</div>
				
			</main>



			<!-- Footer -->
			<div th:replace="fragments/footer :: footer"/>
		</div>


	</div>
	<!-- Footer JS -->
	<div th:replace="fragments/footer-js :: footer-js"/>
</body>
</html>
